.checkboxes {
    display: flex;
    position: relative;
    user-select: none;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 17rem;
    padding: 18rem 14rem;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 300ms linear;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-size: 12rem;
    color: #828282;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: relative;
        height: 15rem;
        width: 15rem;
        background-color: transparent;
        border: 0.5rem solid #828282;
        border-radius: 2rem;
        transition: 0.3s;

        &:after {
            content: "";
            background: url(/icons/checked.svg) 50% 50% no-repeat;
            background-size: cover;
            width: 8rem;
            height: 6rem;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            transition: transform 0.3s ease-in-out;
            position: absolute;
            display: none;
        }
    }
}

.checkboxes:hover input~.checkmark {
    background-color: transparent;
}

.checkboxes input:checked~.checkmark {
    border: 0.5rem solid transparent;
    background-color: #957D6D;
}

.checkboxes input:checked~.checkmark:after {
    display: block;
}