input {
    background: transparent;
    border: 1rem solid #fff;
    padding: 16rem;
    min-width: 350rem;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14rem;
    color: #FFFFFF;
}

.brown-input {
    width: 100%;
    border: 1rem solid #957D6D;
    min-width: auto;
    color: #333;
}

.form-error {
    display: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12rem;
    color: $red-color;
}

input.validity {
    &:invalid+.form-error {
        display: inline-block;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

// input[type=file]::file-selector-button {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 100;
//     font-size: 12rem;
//     color: $black-color;
//     border: 0.5rem solid #828282;
//     border-radius: 0;
//     background-color: transparent;
//     transition: 1s;
// }

// input[type=file]::file-selector-button:hover {
//     border: 0.5rem solid #828282;
//     border-radius: 0;
//     background-color: transparent;
//     transition: 1s;
// }

.validity-error {
    border-color: $red-color;
}

.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 0;
    padding-bottom: 0;
}