@media (min-width: 1599px) {
    .shopping-cart-menu {
        height: 70%;
    }

    .burger-menu .container .burger_block {
        height: 77rem;
    }

    .shopping-cart-menu .container .shopping-cart-menu_main {
        height: 77rem;
    }
}

// @media (min-width: 1441px) {
//     .product_card .product_img img {
//         width: 100%;
//         min-height: 420rem;
//         max-height: 420rem;
//         object-fit: cover;
//     }
// }


@media (max-width: 1399px) {
    .follow-inst {
        .follow-inst_posts {
            .follow-inst_post {
                .follow-inst_post_img {
                    img {
                        max-height: 266rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .burger-menu {
        width: 20%;
    }

    .burger {
        padding-left: 10rem;
    }

    .shopping-cart-menu {
        width: 30%;
        // padding-bottom: 25rem;

        .container {
            .shopping-cart-empty {
                height: calc(100% - 55rem);

                .shopping-cart-menu_wrapper {
                    width: 55%;
                }
            }
        }
    }

    .promo {
        padding: 90rem 0 50rem 0;

        .promo_wrapper {
            .promo_title {
                h1 {
                    padding: 12rem 0;
                    // font-size: 48rem;
                    line-height: 60rem;
                }
            }
        }
    }

    .categories-section {
        padding: 55rem 0;

        .container {
            .category {
                min-height: 274rem;
            }
        }
    }

    .sub-to-news {
        padding: 40rem 0;

        .container {
            .sub-to-news_wrapper {
                .sub-to-news_subtitle {
                    padding-top: 0;
                }

                .sub-to-news_form {
                    padding-top: 20rem;
                }
            }
        }
    }

    .promotion-products {
        padding: 55rem 0;

        .container {
            .promotion-products_title {
                h3 {
                    // font-size: 30rem;
                }
            }

            .product_cards {
                padding-top: 18rem;
                padding-bottom: 23rem;
            }
        }
    }

    .popular-products {
        padding: 55rem 0;

        .container {
            .popular-products_title {
                h3 {
                    // font-size: 30rem;
                }
            }

            .product_cards {
                padding-top: 18rem;
                padding-bottom: 23rem;
            }
        }
    }

    .follow-inst {
        .follow-inst_posts {
            .follow-inst_post {
                .follow-inst_post_img {
                    img {
                        max-height: 221rem;
                    }

                    .follow-inst_post_descr {
                        top: 0;
                        width: 90%;

                        .follow-inst_post_title {
                            padding-top: 20rem;
                            // font-size: 14rem;
                        }

                        .follow-inst_post_sutitle {
                            padding-top: 20rem;
                            // font-size: 14rem;
                        }
                    }
                }
            }
        }
    }

    footer {
        padding-top: 30rem;

        .container {
            padding-bottom: 20rem;

            .sub-to-news-email_block {
                &.sent {
                    .sub-to-news_email {
                        // font-size: 14rem;
                    }

                    .sub-to-news_text {
                        // font-size: 14rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    // .promo {
    //     .promo_wrapper {
    //         .promo_title {
    //             h1 {
    //                 padding: 6rem 0;
    //                 font-size: 38rem;
    //                 line-height: 46rem;
    //             }
    //         }

    //         .promo_subtitle {
    //             font-size: 13rem;
    //             line-height: 16rem;
    //         }

    //         .btn-main {
    //             margin-top: 18rem;
    //             padding: 10rem 20rem;
    //             font-size: 14rem;
    //         }
    //     }
    // }

    .promo {
        height: 80vh;
    }

    .promo_wrapper {
        max-width: 65%;
    }

    .categories-section {
        padding: 35rem 0;

        .container {
            gap: 48rem;

            .category {
                width: calc(33.3333333% - 32rem);
                min-height: 208rem;

                h2 {
                    // font-size: 25rem;
                }

                .btn-main {
                    margin-top: 18rem;
                    padding: 10rem 20rem;
                    // font-size: 14rem;
                }
            }
        }
    }

    .sub-to-news {
        padding: 30rem 0;

        .container {
            .sub-to-news_wrapper {
                width: 60%;

                .sub-to-news_title {
                    h3 {
                        // font-size: 34rem;
                    }
                }

                .sub-to-news_subtitle {
                    // font-size: 14rem;
                }

                .sub-to-news_form {
                    padding-top: 10rem;

                    input {
                        width: 100%;
                        min-width: auto;
                    }

                    .btn-main {
                        padding: 10rem 40rem;
                    }
                }
            }
        }
    }

    .promotion-products {
        padding: 35rem 0;

        .container {
            .product_cards {
                padding-top: 10rem;
            }
        }
    }

    .product_card {
        min-width: 225rem;

        .product_img {
            img {
                min-height: 300rem;
                max-height: 300rem;
            }
        }

        .product_descr {
            padding-top: 10rem;
        }
    }

    .popular-products {
        padding: 35rem 0;

        .container {
            .product_cards {
                padding-top: 10rem;
            }
        }
    }

    .follow-inst {
        padding: 35re 0 60rem 0;

        h2 {
            // font-size: 30rem;
        }

        .follow-inst_posts {
            padding-top: 10rem;

            .follow-inst_post {
                .follow-inst_post_img {
                    img {
                        max-height: 161rem;
                    }

                    .follow-inst_post_descr {
                        top: 0;
                        width: 98%;

                        .follow-inst_post_descr_icon {
                            // font-size: 12rem;

                            svg {
                                width: 15rem;
                            }
                        }

                        .follow-inst_post_title {
                            padding-top: 10rem;
                            // font-size: 12rem;
                        }

                        .follow-inst_post_sutitle {
                            padding-top: 10rem;
                            // font-size: 12rem;
                        }
                    }
                }
            }
        }
    }

    .product-category,
    .search-results {
        .filters-and-quantity-prod {
            padding-top: 14rem;
        }

        .product-catalog {
            padding-top: 30rem;
            gap: 30rem;

            .product_card {
                width: calc(33.3333% - 20rem);
                min-width: auto;
            }
        }
    }

    footer {
        .container {
            h3 {
                // font-size: 14rem;
                margin-bottom: 0;
            }

            ul {
                li {
                    margin-top: 10rem;

                    &:first-child {
                        margin-top: 12rem;
                    }

                    a {
                        // font-size: 12rem;
                    }
                }
            }

            .shop_and_contact_blocks {
                width: 35%;
            }

            .social-net_block {
                .social-net_block_icons {
                    padding-top: 10rem;

                    .social-net_block_icon {
                        svg {
                            width: 22rem;
                        }
                    }
                }
            }

            .sub-to-news-email_block {
                width: 35%;

                .sub-to-news-email_block_subtitle {
                    // font-size: 12rem;
                    margin-top: 12rem;
                    font-weight: 300;
                }

                .sub-to-news-email_block_form {
                    margin-top: 10rem;

                    input {
                        padding: 10rem;
                        // font-size: 12rem;
                    }

                    button {
                        padding: 0rem 10rem;
                        // font-size: 12rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        .container {
            nav {
                .header_left {
                    .languages {
                        margin-left: 10px;
                        
                        &.mobile {
                            display: none;
                        }
                    }

                    .search-icon {
                        &.mobile {
                            margin-left: 10px;
                        }
                    }
                }

                .header_right {
                    .hide {
                        display: none;
                    }

                    svg:first-child {
                        margin-right: 8rem;
                    }
                }
            }
        }
    }

    header {
        .container {
            nav {
                .header_left {
                    gap: 10rem;
                    
                    svg {
                        display: block;
                        margin-right: 0;
                        margin-left: 10rem;
                    }
                }

                .header_right {
                    gap: 18rem;

                    .icon_cart,
                    .icon_heart {
                        display: none;
                    }

                    .cart-wishlist {
                        display: block;
                    }

                    .cart-wishlist,
                    .my-account {
                        svg {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    
    .burger-menu {
        width: 50%;
        height: 100%;

        .burger_wrapper {
            height: 50%;

            .menu {
                row-gap: 0;
                justify-content: space-between;
            }
        }
    }

    .shopping-cart-menu {
        width: 50%;
        height: 100%;
    }

    footer {
        padding-top: 25rem;

        .container {
            flex-direction: column;
            padding-bottom: 25rem;

            h3 {
                font-size: 16rem;
                margin-bottom: 0;
                text-align: center;
            }

            ul {
                li {
                    margin-top: 10rem;
                    display: flex;
                    justify-content: center;

                    &:first-child {
                        margin-top: 12rem;
                    }

                    a {
                        text-align: center;
                    }
                }
            }

            .social-net_block {
                width: 100%;

                .social-net_block_icons {
                    width: 100%;
                    justify-content: center;
                }
            }

            .shop_and_contact_blocks {
                margin: 0 auto;
            }

            .sub-to-news-email_block {
                &.sent {
                    width: 50%;
                    margin: 0 auto;
                    margin-top: 15rem;
                    text-align: center;
                    
                    h3 {
                        text-align: center;
                        font-size: 36rem;
                    }

                    .sub-to-news_email {
                        text-align: center;
                    }
                }
            }

            .shop_block,
            .contacts_block,
            .sub-to-news-email_block {
                margin-top: 15rem;
                width: 100%;
            }

            .sub-to-news-email_block {
                .sub-to-news-email_block_subtitle {
                    margin-top: 10rem;
                    text-align: center;
                }

                .sub-to-news-email_block_form {
                    width: 70%;
                    margin: 0 auto;
                    margin-top: 10rem;

                    input {
                        padding: 10rem;
                        font-size: 12rem;
                    }

                    button {
                        padding: 0rem 10rem;
                        font-size: 12rem;
                    }
                }
            }
        }
    }

    footer {
        padding-bottom: 28rem;

        .container {
            flex-direction: column-reverse;
            border: none;
            padding-bottom: 0;

            .shop_and_contact_blocks {
                width: 100%;
                order: 0;
            }

            ul {
                li {
                    justify-content: start;
                }
            }

            .social-net_block {
                padding-top: 48rem;
                width: 100%;

                h3 {
                    display: none;
                }

                .social-net_block_icons {
                    justify-content: center;
                }
            }

            .shop_block,
            .contacts_block {
                width: 50%;
                margin-top: 48rem;

                h3 {
                    text-align: start;
                }
            }

            .sub-to-news-email_block {
                width: 100%;

                &.sent {
                    width: 100%;
                    text-align: start;
                    order: 1;

                    .sub-to-news_email {
                        text-align: start;
                    }

                    h3 {
                        text-align: start;
                        // font-size: 36rem;
                    }
                }

                &.form-email {
                    order: 2;
                }

                h3 {
                    text-align: start;
                    // font-size: 36rem;
                }

                .sub-to-news-email_block_subtitle {
                    text-align: start;
                    // font-size: 16rem;
                    // line-height: 22rem;
                }

                .sub-to-news-email_block_form {
                    width: 100%;
                    flex-direction: column;
                    padding-top: 22rem;
                    margin-top: 0;
                    row-gap: 18rem;

                    input {
                        padding: 16rem;
                        // font-size: 14rem;
                    }

                    button {
                        background-color: #957D6D;
                        color: #fff;
                        justify-content: center;
                        padding: 16rem 40rem;
                        // font-size: 14rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .promo {
        padding: 80rem 0 25rem 0;
        height: 70vh;

        .promo_wrapper {
            max-width: 70%;

            .promo_title {
                h1 {
                    font-size: 40rem;
                    line-height: 50rem;
                }
            }

            .promo_subtitle {
                font-size: 14rem;
            }

            .btn-main {
                margin-top: 30rem;
                padding: 12rem 16rem;
                font-size: 14rem;
            }
        }
    }

    .categories-section {
        padding: 25rem 0;

        .container {
            gap: 24rem;

            .category {
                width: calc(50% - 12rem);
                min-height: 258rem;

                h2 {
                    font-size: 26rem;
                }

                .btn-main {
                    margin-top: 14rem;
                    padding: 12rem 16rem;
                    font-size: 14rem;
                }
            }
        }
    }

    .sub-to-news {
        padding: 25rem 0;

        .container {
            .sub-to-news_wrapper {
                width: 80%;

                .sub-to-news_title {
                    h3 {
                        font-size: 28rem;
                    }
                }

                .sub-to-news_subtitle {
                    font-size: 12rem;
                }

                .sub-to-news_form {
                    padding-top: 10rem;

                    input {
                        width: 100%;
                        max-width: 70%;
                        padding: 10rem;
                        font-size: 12rem;
                    }

                    .btn-main {
                        padding: 5rem 20rem;
                        font-size: 12rem;
                    }
                }
            }
        }
    }

    .promotion-products {
        padding: 25rem 0;

        .container {
            .promotion-products_title {
                h3 {
                    font-size: 28rem;
                }
            }

            .product_cards {
                padding-top: 5rem;
            }
        }
    }

    .product_card {
        min-width: 190rem;

        .product_img {
            img {
                min-height: 250rem;
                max-height: 250rem;
            }
        }

        .product_descr {
            padding-top: 10rem;

            .product_title,
            .product_price {
                font-size: 16rem;
            }

            .product_color {
                padding-top: 5rem;
            }
        }
    }

    .popular-products {
        padding: 25rem 0;

        .container {
            .popular-products_title {
                h3 {
                    font-size: 28rem;
                }
            }

            .product_cards {
                padding-top: 5rem;
            }
        }
    }

    .follow-inst {
        padding: 25rem 0 40rem 0;

        h2 {
            // font-size: 28rem;
            // line-height: 32rem;
        }

        .follow-inst_posts {
            gap: 26rem;

            .follow-inst_post {
                width: calc(50% - 13rem);

                .follow-inst_post_img {
                    img {
                        max-height: 257rem;
                    }

                    .follow-inst_post_descr {
                        top: 0;
                        width: 90%;

                        .follow-inst_post_descr_icons {
                            gap: 20rem;
                        }

                        .follow-inst_post_descr_icon {
                            font-size: 14rem;

                            svg {
                                width: 15rem;
                            }
                        }

                        .follow-inst_post_title {
                            padding-top: 10rem;
                            font-size: 14rem;
                        }

                        .follow-inst_post_sutitle {
                            padding-top: 10rem;
                            font-size: 14rem;
                        }
                    }
                }
            }
        }
    }

    .product-category,
    .search-results {
        .product-catalog {
            gap: 25rem;

            .product_card {
                width: calc(50% - 12.5rem);

                .product_img {
                    img {
                        min-height: 300rem;
                        max-height: 300rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .container {
        width: 95%;
    }

    header {
        .container {
            nav {
                .header_left {
                    .languages {
                        margin-left: 10px;
                        
                        &.mobile {
                            display: none;
                        }
                    }

                    .search-icon {
                        &.mobile {
                            margin-left: 10px;
                        }
                    }
                }

                .header_right {
                    .hide {
                        display: none;
                    }

                    svg:first-child {
                        margin-right: 8rem;
                    }
                }
            }
        }
    }

    .promo {
        .promo_wrapper {
            max-width: 55%;

            .promo_title h1 {
                line-height: 58px;
                padding: 0;
            }

            .btn-main {
                margin-top: 42rem;
                font-size: 16rem;
            }
        }
    }

    .promo_subtitle {
        display: none;
    }

    .burger {
        padding-left: 0;
    }

    footer {
        padding-top: 25rem;

        .container {
            flex-direction: column;
            padding-bottom: 25rem;

            h3 {
                font-size: 16rem;
                margin-bottom: 0;
                text-align: center;
            }

            ul {
                li {
                    margin-top: 10rem;
                    display: flex;
                    justify-content: center;

                    &:first-child {
                        margin-top: 12rem;
                    }

                    a {
                        text-align: center;
                    }
                }
            }

            .social-net_block {
                width: 100%;

                .social-net_block_icons {
                    width: 100%;
                    justify-content: center;
                }
            }

            .shop_and_contact_blocks {
                margin: 0 auto;
            }

            .sub-to-news-email_block {
                &.sent {
                    width: 50%;
                    margin: 0 auto;
                    margin-top: 15rem;
                    text-align: center;
                    
                    h3 {
                        text-align: center;
                        font-size: 36rem;
                    }

                    .sub-to-news_email {
                        text-align: center;
                    }
                }
            }

            .shop_block,
            .contacts_block,
            .sub-to-news-email_block {
                margin-top: 15rem;
                width: 100%;
            }

            .sub-to-news-email_block {
                .sub-to-news-email_block_subtitle {
                    margin-top: 10rem;
                    text-align: center;
                }

                .sub-to-news-email_block_form {
                    width: 70%;
                    margin: 0 auto;
                    margin-top: 10rem;

                    input {
                        padding: 10rem;
                        font-size: 12rem;
                    }

                    button {
                        padding: 0rem 10rem;
                        font-size: 12rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    header {
        .container {
            nav {
                .header_left {
                    gap: 10rem;
                    
                    svg {
                        display: block;
                        margin-right: 0;
                        margin-left: 10rem;
                    }
                }

                .header_right {
                    gap: 18rem;

                    .icon_cart,
                    .icon_heart {
                        display: none;
                    }

                    .cart-wishlist {
                        display: block;
                    }

                    .cart-wishlist,
                    .my-account {
                        svg {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .burger-menu {
        width: 90%;

        .container {
            .menu .menu_item a {
                font-size: 24rem;
            }

            .burger_block {
                .burger_wrapper {
                    .close-icon3 {
                        right: 18px;
                    }

                    .languages {
                        padding-right: 21px;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        select {
                            border: none;

                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14rem;
                            color: #333333;

                            &:focus-visible {
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .search-bar {
        height: 10%;

        &.mobile {
            .container {
                .search-bar_wrapper {
                    height: 100%;
                    display: flex;
                    align-items: center;
    
                    .search_input {
                        margin-top: 0;
                        margin-left: 15rem;
                        padding-bottom: 0;
                        border: none;
                        font-size: 18rem;
                    }
                }
            }
        }
    }

    footer {
        padding-bottom: 28rem;

        .container {
            flex-direction: column-reverse;
            border: none;
            padding-bottom: 0;

            .shop_and_contact_blocks {
                width: 100%;
                order: 0;
            }

            ul {
                li {
                    justify-content: start;
                }
            }

            .social-net_block {
                padding-top: 48rem;

                h3 {
                    display: none;
                }
            }

            .shop_block,
            .contacts_block {
                width: 50%;
                margin-top: 48rem;

                h3 {
                    text-align: start;
                }
            }

            .sub-to-news-email_block {
                &.sent {
                    width: 100%;
                    text-align: start;
                    order: 1;

                    .sub-to-news_email {
                        text-align: start;
                    }

                    h3 {
                        text-align: start;
                        // font-size: 36rem;
                    }
                }

                &.form-email {
                    order: 2;
                }

                h3 {
                    text-align: start;
                    // font-size: 36rem;
                }

                .sub-to-news-email_block_subtitle {
                    text-align: start;
                    // font-size: 16rem;
                    // line-height: 22rem;
                }

                .sub-to-news-email_block_form {
                    width: 100%;
                    flex-direction: column;
                    padding-top: 22rem;
                    margin-top: 0;
                    row-gap: 18rem;

                    input {
                        padding: 16rem;
                        // font-size: 14rem;
                    }

                    button {
                        background-color: #957D6D;
                        color: #fff;
                        justify-content: center;
                        padding: 16rem 40rem;
                        // font-size: 14rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .burger-menu {
        width: 100%;
    }

    .shopping-cart-menu {
        width: 100%;
    }

    .promo {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .promo_wrapper {
            max-width: 75%;

            .promo_collection {
                // font-size: 14rem;
            }

            .promo_title {
                h1 {
                    // font-size: 40rem;
                    // line-height: 54rem;
                }
            }

            .promo_subtitle {
                display: none;
            }

            .btn-main {
                padding: 14rem 34rem;
                // font-size: 14rem;
            }
        }
    }

    .categories-section {
        .container {
            overflow-x: auto;
            flex-wrap: nowrap;
            gap: 18rem;

            .category {
                width: 75%;
                margin: 0 auto;
                min-width: 255rem;
                min-height: 255rem;

                h2 {
                    // font-size: 30rem;
                }

                .category_btn {
                    padding: 12rem 20rem;
                    // font-size: 15rem;
                }
            }
        }
    }

    .sub-to-news {
        .container {
            .sub-to-news_wrapper {
                width: 100%;

                .sub-to-news_title {
                    h3 {
                        // font-size: 38rem;
                        text-align: start;
                    }
                }
                &.sent {
                    .sub-to-news_email,
                    .sub-to-news_text {
                        text-align: start;
                    }
                }

                .sub-to-news_subtitle {
                    // font-size: 15rem;
                    margin-top: 20rem;
                    text-align: start;
                }

                .sub-to-news_form {
                    display: flex;
                    flex-direction: column;
                    row-gap: 18rem;
                    padding-top: 20rem;

                    input {
                        max-width: 100%;
                        padding: 16rem;
                        // font-size: 14rem;
                    }

                    .btn-main {
                        padding: 5rem 20rem;
                        background-color: white;
                        color: #000;
                        justify-content: center;
                        padding: 16rem 40rem;
                        // font-size: 14rem;
                    }
                }
            }
        }
    }

    .promotion-products {
        .container {
            .promotion-products_title {
                justify-content: center;

                h3 {
                    // font-size: 51rem;
                }

                .viewall {
                    display: none;
                }
            }

            .product_cards {
                padding-top: 30rem;
                width: 100%;
                flex-wrap: wrap;
                gap: 15rem;

                .product_card {
                    width: calc(50% - 8rem);
                    min-width: auto;

                    .product_img {
                        img {
                            height: auto;
                            max-height: none;
                            min-height: auto;
                        }
                    }
                }
            }
        }
    }

    .popular-products {
        .container {
            .popular-products_title {
                justify-content: start;

                h3 {
                    // font-size: 51rem;
                }

                .viewall {
                    display: none;
                }
            }

            .product_cards {
                padding-top: 30rem;
                width: 100%;
                flex-wrap: wrap;
                gap: 20rem;

                .product_card {
                    width: calc(50% - 10rem);
                    min-width: auto;

                    .product_img {
                        img {
                            height: auto;
                            max-height: none;
                            min-height: auto;
                        }
                    }
                }
            }
        }
    }

    .product_card {
        .product_descr {
            .product_title,
            .product_price {
                // font-size: 14rem;
            }
        }
    }

    .follow-inst {
        padding: 20rem 0;

        h2 {
            // font-size: 40rem;
            // line-height: 48rem;

            br {
                display: none;
            }
        }

        .follow-inst_posts {
            overflow-x: auto;
            flex-wrap: nowrap;
            padding-bottom: 20rem;

            .follow-inst_post {
                width: 100%;
                min-width: 250rem;
                margin: 0 auto;

                .follow-inst_post_img {
                    height: 100%;
                }
            }
        }
    }

    .product-category,
    .search-results {
        .product-catalog {
            .product_card {
                .product_img {
                    img {
                        min-height: 250rem;
                        max-height: 250rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .promo {
        .promo_wrapper {
            max-width: 70%;
        }
    }

    .product-category,
    .search-results {
        .product-catalog {
            .product_card {
                .product_img {
                    img {
                        min-height: 220rem;
                        max-height: 220rem;
                    }
                }
            }
        }
    }
}