.modal-notify-me {
    display: none;
    position: fixed;
    z-index: 30;
    padding-top: 85rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-discount {
    display: none;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        .modal-title {
            padding: 21rem;
        }

        .modal-descr {
            padding: 24rem 22rem 40rem 22rem;

            .promocode-input {
                padding-top: 12rem;
                display: flex;
                justify-content: center;
                width: 100%;

                input {
                    min-width: auto;
                    width: 80%;
                    font-size: 18rem;
                    border: 0.5rem solid $brown-color;
                    color: $black-color;
                    
                    &::placeholder {
                        color: #828282;
                    }

                    @media (max-width: 425px) {
                        font-size: 14rem;
                    }

                    @media (max-width: 375px) {
                        font-size: 13rem;
                    }
                }

                button {
                    padding: 12rem 37rem;
                    font-size: 18rem;

                    @media (max-width: 425px) {
                        font-size: 14rem;
                    }

                    @media (max-width: 375px) {
                        font-size: 13rem;
                    }
                }
            }

            .apply-block {
                padding-top: 38rem;
                display: flex;
                justify-content: flex-end;

                button {
                    padding: 12rem 60rem;
                    font-size: 18rem;

                    @media (max-width: 425px) {
                        font-size: 14rem;
                    }

                    @media (max-width: 375px) {
                        font-size: 13rem;
                    }
                }
            }
        }
    }
}

.modal-feedback {
    display: none;
    position: fixed;
    z-index: 30;
    padding-top: 85rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
        .modal-descr {
            padding: 32rem 30rem 35rem 30rem;

            .mustValidate {
                .form-floating {
                    &.textarea {
                        padding-top: 23rem;

                        textarea::placeholder {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 100;
                            font-size: 12rem;
                            color: #828282;
                        }
    
                        textarea {
                            min-height: 98rem;
                            padding: 12rem 16rem;
                            border: 1rem solid #828282;
                            border-radius: 0;
                            line-height: 1;
                            resize: none;

                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 12rem;
                            line-height: 14rem;
                            color: $black-color;
                        }

                        .form-control:focus {
                            border: 1rem solid #957D6D;
                            outline: 0;
                            box-shadow: none; 
                        }
                    }
                }

                .form-floating {
                    input {
                        min-width: 100%;
                        border-radius: 0;
                        border: 1rem solid #828282;
                        padding: 0rem;
                        padding-left: 12rem;
                        height: 36rem;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12rem;
                        color: $black-color;
                
                        &:focus {
                            border: 1rem solid $brown-color;
                            box-shadow: none;
                
                            &::placeholder {
                                color: transparent;
                            }
                        }
                
                        &::placeholder {
                            font-weight: 100;
                            color: #828282;
                        }
                    }
                
                    select {
                        position: relative;
                        border-radius: 0;
                        padding: 0rem;
                        padding-left: 12rem;
                        height: 36rem;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12rem;
                        color: $black-color;
                
                        &:focus {
                            border: 1rem solid $brown-color;
                            box-shadow: none;
                        }
                    }
                
                    label {
                        opacity: 0;
                        height: auto;
                        padding: 0 5rem;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 10rem;
                        color: $brown-color;
                        background: #fff;
                        transform: scale(1) translateY(-8rem) translateX(17rem);
                        transition: 0.3s;
                    }
                
                    >.form-control:focus,
                    >.form-control:not(:placeholder-shown),
                    >.form-select {
                        ~label {
                            opacity: 1;
                            background: #fff;
                            transform: scale(1) translateY(-8rem) translateX(17rem);
                            transition: 0.3s;
                        }
                    }
                }
                
                .form-floating>.form-control {
                    height: 36rem; 
                }
            }

            .feedback-evaluation {
                padding-top: 29rem;
                display: flex;
                flex-direction: column;

                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 12rem;
                color: $black-color;

                .stars {
                    justify-content: flex-start;
                    margin-left: 0;
                    padding-top: 8rem;
                }
            }

            .upload-photo {
                padding-top: 27rem;
                width: auto;

                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 12rem;
                color: $black-color;

                label {
                    padding: 5rem 19rem;
                    margin-bottom: 10rem;
                    border: 0.5rem solid #828282;
                    cursor: pointer;
                }

                input {
                    min-width: auto;
                    width: auto;
                    padding: 0;
                }
            }

            .upload-photo-text {
                padding-top: 14rem;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 100;
                font-size: 12rem;
                line-height: 14rem;
                color: $black-color;
            }

            .save-and-close {
                padding-top: 31rem;
                display: flex;
                gap: 57rem;
                justify-content: flex-end;
                align-items: center;

                .close-modal-second {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16rem;
                    color: $black-color;
                    cursor: pointer;
                }
                
                .btn-main {
                    padding: 12rem 63rem;
                }
            }
        }
    }
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 364rem;
    border: none;
    border-radius: 0;

    &.feedback {
        width: 550rem;
        border-radius: 5rem;
    }

    &.discount {
        width: 100%;
        position: absolute;
        top: 25%;
    }

    .modal-title {
        display: flex;
        justify-content: space-between;
        padding: 32rem;
        border-bottom: 1rem solid #BDBDBD;;

        h4 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 16rem;
            text-transform: capitalize;
            color: $black-color;
        }
    }

    .modal-descr {
        padding: 32rem;
        padding-top: 36rem;

        .notify-product {
            display: flex;
            gap: 17rem;
            font-family: Roboto;
            font-style: normal;
            font-size: 14rem;
        
            .notify-product_img {
                img {
                    width: 100%;
                    max-height: 136rem;
                }
            }
        
            .notify-product_descr {
                display: flex;
                flex-direction: column;
        
                .notify-product_price {
                    font-weight: 300;
                    color: $black-color;
                }
        
                .notify-product_title {
                    padding-top: 9rem;
                    font-weight: 100;
                    color: $black-color;
                }
        
                .notify-product_options {
                    padding-top: 9rem;
                    font-weight: 100;
                    color: $black-color;
                    display: flex;
        
                    .notify-product_size {
                        padding-right: 7rem;
                        border-right: 1rem solid rgba($brown-color, 0.3);
                    }
        
                    .notify-product_color {
                        display: flex;
                        align-items: center;
                        gap: 3rem;
                        padding-left: 7rem;
    
                        svg {
                            width: 9rem;
                            height: 9rem;
                        }
                    }
                }
            }
        }
    
        .notify-product_text {
            padding-top: 29rem;
            font-family: Roboto;
            font-style: normal;
            font-weight: 100;
            font-size: 12rem;
            color: $black-color;
        }

        .btn-notify-me {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .notify-me {
                margin-top: 47rem;
                padding: 12rem 46rem;
                border: 1rem solid $black-color;
                color: $black-color;
                transition: 0.3s;
    
                &:hover {
                    color: #fff;
                    background-color: #957D6D;
                    border: 1rem solid #957D6D;
                    transition: 0.3s;
                }
            }
        }
    }
}

.close-modal,
.close-modal-feedback,
.close-modal-notify {
    &:hover {
        cursor: pointer;
    }
}