html {
    font-size: 1px;

    // @media (min-width: 1919px) {
    //     font-size: 1px;
    // }

    // @media (min-width: 1599px) {
    //     font-size: 1px;
    // }
}

body {
    font-size: 14px;
    background-color: #FDFCFB;
}

input::-webkit-input-placeholder {
    color: #fff; 
}

h1, h2, h3, h4 {
    margin-bottom: 0;
}

.container {
    &.large-container {
        max-width: 95%;
    }

    &.big-container {
        max-width: calc(100% - 40rem);
    }
    
    &.padding-left {
        max-width: 100%;
        padding-left: 10%;
    }
}

.dragscroll {
    cursor: grab;
}

.bread-crumbs {

    &.first {
        display: flex;
        justify-content: center;
        gap: 5rem;

        a {
            &:first-child {
                font-weight: 300;
            }
    
            &:last-child {
                font-weight: 100;
            }
        }
    }

    &.second {
        display: flex;
        justify-content: center;
        gap: 5rem;

        a {
            &:nth-child(2) {
                font-weight: 300;
            }
    
            &:last-child {
                font-weight: 100;
            }
        }
    }

    &.third {
        display: flex;
        justify-content: center;
        gap: 5rem;

        a {
            &:nth-child(3) {
                font-weight: 300;
            }
    
            &:last-child {
                font-weight: 100;
            }
        }
    }

    &.fourth {
        display: flex;
        justify-content: center;
        gap: 5rem;

        a {
            &:nth-child(4) {
                font-weight: 300;
            }
        }
    }

    a {
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 100;
        font-size: 14rem;
        line-height: 16rem;
        color: $black-color;

        @media (max-width: 425px) {
            font-size: 14rem;
        }

        &:hover {
            text-decoration: underline;
        }

        &:last-child {
            font-weight: 300;
        }
    }
}

.return-to-cart {
    display: flex;
    align-items: center;
    gap: 6rem;
    margin-top: 114rem;

    @media (max-width: 991px) {
        margin-top: 70rem;
    }
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12rem;
    color: #828282;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: #828282;
    }
}

.datepicker-cell.selected, .datepicker-cell.selected:hover {
    background-color: #957D6D;
    color: #fff;
    font-weight: 600;
}

.datepicker {
    font-family: 'Roboto';
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}