.about-us-section {
    .bread-crumbs {
        padding-top: 30rem;
        padding-bottom: 5rem;
        padding-left: 24rem;
        justify-content: flex-start;

        @media (max-width: 575px) {
            padding-top: 20rem;
            padding-bottom: 0;
        }

        @media (max-width: 425px) {
            padding-top: 19rem;
            padding-bottom: 29rem;
            padding-left: 10rem;
        }

        a {
            &:nth-child(2) {
                font-weight: 300;
            }
    
            &:last-child {
                font-weight: 300;
            }
        }
    }

    h2 {
        padding-bottom: 50rem;
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 300;
        font-size: 36rem;
        color: $black-color;
        text-align: center;

        @media (max-width: 575px) {
            padding-bottom: 10rem;
        }

        @media (max-width: 425px) {
            display: none;
        }
    }

    .about-us-descr {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 100;
        font-size: 14rem;
        color: $black-color;
    }
}

.follow-inst-padding {
    padding: 0;
    padding-top: 65rem;
    padding-bottom: 56rem;

    .follow-inst_posts {
        padding-top: 40rem;
    }
}