.categories-section {
    padding: 90rem 0;

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 70rem;
        align-items: center;

        .category {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(33.3333333% - 46.66666rem);
            min-height: 326rem;
            position: relative;
            transition: 0.3s;
            
            h2 {
                font-family: 'Cormorant Garamond';
                font-style: normal;
                font-weight: bold;
                font-size: 36rem;
                text-transform: capitalize;
                color: #FFFFFF;
                z-index: 10;

                &:hover {
                    cursor: pointer;
                }
            }

            .category_btn {
                display: none;
                z-index: 10;
            }

            &:hover {
                &:after {
                    opacity: 1;
                }

                .category_btn {
                    display: block;
                    position: absolute;
                    bottom: 15%;
                }
            }
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.4);
                opacity: 0;
                transition: 0.3s;
            }
        }
        .bodysuit {
            background: url('./img/categories/bodysuit.jpg') center (center/cover) no-repeat;
        }
        .lingerie-sets {
            background: url('./img/categories/lingerie-sets.jpg') center (center/cover) no-repeat;
        }
        .bralette {
            background: url('./img/categories/bralette.jpg') center (center/cover) no-repeat;
        }
        .pajamas {
            background: url('./img/categories/pajamas.jpg') center (center/cover) no-repeat;
        }
        .belts-straps {
            background: url('./img/categories/belts-straps.jpg') center (center/cover) no-repeat;
        }
        .accessories {
            background: url('./img/categories/accessories.jpg') center (center/cover) no-repeat;
        }
    }
}