.faq-section {
    padding-bottom: 100rem;

    .bread-crumbs {
        padding-top: 30rem;
        padding-bottom: 5rem;
        padding-left: 24rem;
        justify-content: flex-start;

        a {
            &:nth-child(2) {
                font-weight: 300;
            }
    
            &:last-child {
                font-weight: 300;
            }
        }
    }

    h2 {
        padding-bottom: 50rem;
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 300;
        font-size: 36rem;
        color: $black-color;
        text-align: center;
    }

    .faq-descr {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 100;
        font-size: 14rem;
        color: $black-color;

        .accordion-content {
            padding: 0;
        }

        .accordion-box {
            border: 1rem solid #E0E0E0;
            margin-top: 27rem;
            padding: 15rem 24rem 0 24rem;

            &.brown-border-and-padding {
                padding-bottom: 28rem;
                border: 1rem solid #957D6D;
            }

            &:first-child {
                margin-top: 0;
            }
        }
    
        .accordion {
            margin-top: 0;
            padding-top: 0;
            margin-bottom: 15rem;
            padding-bottom: 0;

            border: none;
    
            &:after {
                content: '';
                background: url(/icons/plus.svg) 50% 50% no-repeat;
                background-size: cover;
                width: 14rem;
                height: 8rem;
                font-weight: bold;
                float: right;
                margin-right: 5rem;
                transition: transform .2s ease-in-out;
            }
            
            &.active{
                margin-bottom: 15rem;
                padding-bottom: 11rem;
                border-bottom: 0.5rem solid #BDBDBD;

                &::after {
                    content: '';
                    transition: transform .2s ease-in-out;
                    transform: rotate(0);
                    background: url(/icons/minus.svg) 50% 50% no-repeat;
                }
            }
        }
    }
}