.main {
    padding-top: 81rem;
}

.favorites {
    padding-top: 19rem;

    h2 {
        padding-top: 5rem;
        text-align: center;
        font-family: Cormorant Garamond;
        font-style: normal;
        font-weight: 300;
        font-size: 36rem;
        color: $black-color;
    }

    .quantity-prod {
        display: flex;
        justify-content: flex-end;
        font-family: Roboto;
        font-style: normal;
        font-weight: 100;
        font-size: 12rem;
        color: $black-color;
    }

    .favorite-products {
        display: flex;
        flex-wrap: wrap;
        padding-top: 54rem;
        padding-bottom: 130rem;
        gap: 36rem;

        @media (max-width: 991px) {
            padding-top: 30rem;
            gap: 30rem;
        }

        @media (max-width: 769px) {
            gap: 25rem;
        }

        .product_card {
            width: calc(25% - 27rem);

            @media (max-width: 991px) {
                width: calc(33.3333% - 20rem);
                min-width: auto;
            }

            @media (max-width: 769px) {
                width: calc(50% - 12.5rem);
            }

            .product_img img {
                @media (max-width: 769px) {
                    min-height: 300rem;
                    max-height: 300rem;
                }

                @media (max-width: 425px) {
                    min-height: 250rem;
                    max-height: 250rem;
                }
            }
        }
    }
}