footer {
    padding-top: 76rem;
    // border-top: 1rem solid rgba($brown-color, 0.3);
    border-top: 1rem solid #F2F2F2;

    .container {
        padding-bottom: 52rem;
        display: flex;
        justify-content: space-between;
        // border-bottom: 1rem solid rgba($brown-color, 0.3);
        border-bottom: 1rem solid #F2F2F2;

        .shop_and_contact_blocks {
            width: 50%;
            display: flex;
        }

        h3 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 16rem;
            color: $black-color;
        }

        ul {
            margin-left: 0;
            margin-bottom: 0;
            padding-left: 0;

            li {
                list-style-type: none;
                margin-top: 21rem;

                &:first-child {
                    margin-top: 23rem;
                }

                a {
                    text-decoration: none;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14rem;
                    color: $black-color;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .social-net_block {
            width: 25%;
            display: flex;
            flex-direction: column;

            .social-net_block_icons {
                padding-top: 23rem;
                display: flex;
                gap: 12rem;

                .social-net_block_icon {
                    svg {
                        fill: #333333;
                        
                        path {
                            transition: 0.3s;
                            fill: #333333;
                        }

                        &:hover {
                            cursor: pointer;
                            path {
                                transition: 0.3s;
                                fill: $brown-color;
                            }
                        }
                    }
                }
            }
        }

        .shop_block, .contacts_block {
            width: 50%;
        }

        .sub-to-news-email_block {
            width: 25%;

            &.hide {
                display: none;
            }

            &.sent {
                .sub-to-news_email {
                    padding-top: 14rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16rem;
                    color: $black-color;
                    text-align: start;
                }

                .sub-to-news_text {
                    padding-top: 14rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 100;
                    font-size: 14rem;
                    color: $black-color;
                }
            }

            .sub-to-news-email_block_subtitle {
                margin-top: 23rem;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 100;
                font-size: 14rem;
                color: $black-color;
            }

            .sub-to-news-email_block_form {
                display: flex;
                margin-top: 24rem;

                input {
                    width: 100%;
                    border: 1rem solid $brown-color;
                    min-width: auto;
                    color: $black-color;
                    
                    &::placeholder {
                        color: #828282;
                    }
                }

                button {
                    border: 1rem solid $brown-color;
                    background-color: $brown-color;
                    color: #fff;
                    font-size: 14rem;

                    &:hover {
                        background-color: #fff;
                        color: $brown-color;
                    }
                }
            }
        }
    }

    .footer_author {
        padding: 16rem 0;
        display: inline-block;
        width: 100%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 12rem;
        line-height: 14rem;
        text-align: center;
        color: $black-color;
    }
}