.forgot-password-section {
    padding-top: 70px;
    padding-bottom: 210px;

    .forgot-password-wrapper {
        width: 45%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .mustValidate {
            width: 434px;
            margin: 0 auto;
        }
    }

    h2 {
        padding-bottom: 30px;
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        color: $black-color;
        text-align: center;
    }

    .recover-text {
        padding-bottom: 37px;
    }

    .hide {
        display: none;
    }

    .recover-text, .letter-sented {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 100;
        font-size: 14px;
        text-align: center;
        color: $black-color;

        span {
            font-weight: 300;
        }
    }

    .resend-code {
        margin-top: 21px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        text-decoration-line: underline;
        text-align: center;
        color: $black-color;

        span {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .form-floating {
        input {
            min-width: 100%;
            border-radius: 0;
            border: 1px solid #828282;
            padding: 0px;
            padding-left: 12px;
            height: 36px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            color: $black-color;

            &:focus {
                border: 1px solid $brown-color;
                box-shadow: none;

                &::placeholder {
                    color: transparent;
                }
            }

            &::placeholder {
                font-weight: 100;
                color: #828282;
            }
        }
    }
    
    .btn-main {
        margin: 0 auto;
        margin-top: 26px;
        padding: 14px 0;
        width: 180px;
        justify-content: center;
    }
}