.forgot-password-section {
    padding-top: 70rem;
    padding-bottom: 210rem;

    @media (max-width: 1199px) {
        padding-bottom: 150rem;
    }

    @media (max-width: 991px) {
        padding-bottom: 120rem;
    }

    @media (max-width: 769px) {
        height: calc(100vh - 81rem);
        padding-bottom: 0;
    }

    .forgot-password-wrapper {
        width: 45%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media (max-width: 1399px) {
            width: 50%;
        }

        @media (max-width: 1199px) {
            width: 55%;
        }

        @media (max-width: 991px) {
            width: 65%;
        }

        @media (max-width: 769px) {
            width: 70%;
        }

        @media (max-width: 575px) {
            width: 90%;
        }

        .mustValidate {
            width: 434rem;
            margin: 0 auto;

            @media (max-width: 575px) {
                width: 100%;
            }
        }
    }

    h2 {
        padding-bottom: 30rem;
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 300;
        font-size: 36rem;
        color: $black-color;
        text-align: center;
    }

    .recover-text {
        padding-bottom: 37rem;
    }

    .hide {
        display: none;
    }

    .recover-text, .letter-sented {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 100;
        font-size: 14rem;
        text-align: center;
        color: $black-color;

        span {
            font-weight: 300;
        }
    }

    .resend-code {
        margin-top: 21rem;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 14rem;
        text-decoration-line: underline;
        text-align: center;
        color: $black-color;

        span {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .form-floating {
        input {
            min-width: 100%;
            border-radius: 0;
            border: 1rem solid #828282;
            padding: 0rem;
            padding-left: 12rem;
            height: 43rem;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 16rem;
            color: $black-color;

            &:focus {
                border: 1rem solid $brown-color;
                box-shadow: none;

                &::placeholder {
                    color: transparent;
                }
            }

            &::placeholder {
                font-weight: 100;
                color: #828282;
            }
        }

        label {
            opacity: 0;
            height: auto;
            padding: 0 5rem;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 10rem;
            color: $brown-color;
            background: #fff;
            transform: scale(1) translateY(-8rem) translateX(17rem);
            transition: 0.3s;
        }

        >.form-control:focus,
        >.form-control:not(:placeholder-shown),
        >.form-select {
            ~label {
                opacity: 1;
                background: #fff;
                transform: scale(1) translateY(-8rem) translateX(17rem);
                transition: 0.3s;
            }
        }
    }
    
    .btn-main {
        margin: 0 auto;
        margin-top: 26rem;
        padding: 14rem 0;
        width: 180rem;
        justify-content: center;

        @media (max-width: 769px) {
            width: 100%;
            border: 1rem solid $brown-color;
            background-color: $brown-color;
            color: #fff;
    
            &:hover {
                background-color: #fff;
                color: $brown-color;
            }
        }

        // @media (max-width: 575px) {
        //     border: 1rem solid $brown-color;
        //     background-color: $brown-color;
        //     color: #fff;
    
        //     &:hover {
        //         background-color: #fff;
        //         color: $brown-color;
        //     }
        // }
    }
}