header {
    position: fixed;
    width: 100%;
    padding: 24.5rem 0;
    transition: 0.3s;
    z-index: 20;

    &._brown {
        background-color: $brown-color;
    }

    .container {
        max-width: 98%;
        margin: 0 auto;

        nav {
            display: flex;
            justify-content: space-between;

            .header_left {
                width: 33.33333%;
                display: flex;
                gap: 35rem;
                align-items: center;

                .search-icon {
                    display: none;

                    &.mobile {
                        display: block;
                    }
                }

                .languages {
                    &.mobile {
                        display: block;
                    }
                }

                svg {
                    display: none;
                    cursor: pointer;
                    transition: 0.3s;
                    margin-right: 30rem;

                    &:hover {
                        path {
                            transition: 0.3s;
                            stroke: $black-color;
                        }
                    }
                }

                select {
                    background: transparent;
                    border: none;
                    outline: none;
                    color: white;

                    option {
                        background: transparent;
                        border: none;
                        color: black;
                    }
                }
            }

            a {
                // width: 33.33333%;
                text-align: center;
            }

            .header_right {
                width: 33.33333%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 16rem;

                .my-account {
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 0;
                    }
                }

                svg {
                    cursor: pointer;
                    transition: 0.3s;
                    margin-right: 30rem;

                    &:hover {
                        path {
                            transition: 0.3s;
                            stroke: $black-color;
                        }
                    }
                }

                .icon_cart,
                .icon_heart {
                    display: flex;
                    align-items: center;
                    gap: 5rem;
                    color: #fff;
                    cursor: pointer;

                    svg {
                        &:first-child {
                            margin-right: 0;
                        }
                    }
                }

                .icon_heart {
                    transition: 0.3s;
                    text-decoration: none;

                    span {
                        text-decoration: none;
                    }

                    &:hover {
                        svg {
                            path {
                                transition: 0.3s;
                                fill: $red-color;
                                stroke: transparent;
                            }
                        }
                    }
                }

                .cart-wishlist {
                    display: none;
                    position: relative;

                    &.black {
                        span {
                            color: $black-color;
                        }
                    }

                    span {
                        position: absolute;
                        width: 14rem;
                        height: 14rem;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 11rem;
                        color: #fff;
                        top: 8.2rem;
                        left: 2rem;
                    }
                }
            }
        }
    }
}

header {
    &.white {
        background-color: #FDFCFB;
        border-bottom: 1rem solid #F2F2F2;

        @media (max-width: 575px) {
            background: #FDFCFB;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        }

        .burger_lines {
            background-color: $black-color;
        }

        .container {
            nav {
                .header_left {
                    select {
                        color: $black-color;
    
                        option {
                            color: $black-color;
                        }
                    }
                }
    
                .header_right {
                    .icon_cart,
                    .icon_heart {
                        color: $black-color;
                    }
                }
            }
        }
    }
}