.information-section {
    padding-top: 29rem;

    @media (max-width: 575px) {
        padding-bottom: 185rem;
    }

    @media (max-width: 425px) {
        padding-bottom: 171rem;
    }

    @media (max-width: 375px) {
        padding-bottom: 164rem;
    }

    .bread-crumbs {
        .bread-crumbs-mobile {
            display: none;

            @media (max-width: 575px) {
                display: block;
            }
        }

        @media (max-width: 575px) {
            justify-content: flex-start;

            a {
                &:first-child {
                    display: none;
                }

                &:nth-child(3) {
                    font-weight: 300;
                }
            }
        }
    }

    .return-and-log-in-mobile {
        display: none;
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 100;
        font-size: 14rem;
        color: $black-color;

        @media (max-width: 575px) {
            display: flex;
            justify-content: space-between;
            padding-top: 24rem;

            .return-to-cart {
                margin-top: 0;
            }
        }

        .have-an-account {
            font-family: 'Roboto';

            @media (max-width: 575px) {
                display: flex;
                justify-content: space-between;
    
                .return-to-cart {
                    margin-top: 0;
                }
            }

            .log-in {
                font-weight: 500;
                text-decoration: none;
                color: $black-color;
            }
        }
    }

    .contact-information-and-list {
        padding-top: 85rem;
        padding-bottom: 62rem;
        display: flex;
        justify-content: center;
        gap: 77rem;

        @media (max-width: 1199px) {
            gap: 55rem;
        }

        @media (max-width: 991px) {
            padding: 40rem 0;
            gap: 35rem;
        }

        @media (max-width: 769px) {
            flex-direction: column;
            padding: 30rem 0;
            gap: 40rem;
        }

        @media (max-width: 575px) {
            padding-top: 20rem;
        }

        .contact-information {
            width: 55%;
            padding-right: 62rem;
            border-right: 0.5rem solid #E0E0E0;

            @media (max-width: 1199px) {
                padding-right: 55rem;
            }

            @media (max-width: 991px) {
                padding-right: 35rem;
            }

            @media (max-width: 769px) {
                width: 100%;
                border: none;
                padding-right: 0;
            }

            h2 {
                font-family: 'Cormorant Garamond';
                font-style: normal;
                font-weight: 300;
                font-size: 18rem;
                color: $black-color;
            }

            .contact-information-title {
                padding-bottom: 19rem;
                display: flex;
                justify-content: space-between;
                font-family: 'Cormorant Garamond';
                font-style: normal;
                font-weight: 100;
                font-size: 14rem;
                color: $black-color;

                @media (max-width: 575px) {
                    padding-bottom: 14rem;
                }

                h2 {
                    font-size: 18rem;
                    font-weight: 300;
                }

                .have-an-account {
                    font-family: 'Roboto';
            
                    @media (max-width: 575px) {
                        display: none;
                    }

                    .log-in {
                        font-weight: 500;
                        text-decoration: none;
                        color: $black-color;
                    }
                }
            }

            .form-floating {
                &.email {
                    padding-bottom: 37rem;

                    @media (max-width: 991px) {
                        padding-right: 35rem;
                    }

                    @media (max-width: 769px) {
                        padding-right: 0;
                        padding-bottom: 25rem;
                    }

                    @media (max-width: 575px) {
                        padding-bottom: 14rem;
                    }
                }

                &.full-name,
                &.post-and-city {
                    padding-top: 26rem;
                    display: flex;
                    gap: 20rem;
                    width: 100%;

                    @media (max-width: 575px) {
                        flex-direction: column;
                    }

                    input {
                        min-width: auto;
                    }
                }

                &.post-and-city {
                    padding-top: 0;
                    margin-top: 16rem;
                }

                &.first-name,
                .last-name,
                .post,
                .city-village {
                    width: 50%;

                    @media (max-width: 575px) {
                        width: 100%;
                    }
                }

                &.address,
                &.apartment-suit,
                &.country,
                &.phone {
                    margin-top: 16rem;
                }

                &.country {
                    position: relative;

                    &::after {
                        content: '';
                        background-color: #E0E0E0;
                        top: 50%;
                        right: 5%;
                        transform: translateY(-50%);
                        width: 1rem;
                        height: 21rem;
                        position: absolute;

                        @media (max-width: 991px) {
                            right: 7%;
                        }

                        @media (max-width: 769px) {
                            right: 5%;
                        }
                    }
                }

                &.phone {
                    display: flex;
                    align-items: center;
                    border: 1rem solid #ced4da;

                    select {
                        padding-left: 8rem;
                        width: 10%;
                        height: auto;
                        border: none;
                        border-right: 0.5rem solid #E0E0E0;

                        @media (max-width: 1199px) {
                            padding-right: 15rem;
                            width: 12%;
                        }

                        @media (max-width: 991px) {
                            width: 15%;
                        }

                        @media (max-width: 769px) {
                            padding-right: 0;
                            width: 10%;
                        }

                        @media (max-width: 425px) {
                            width: 15%;
                        }

                        &:focus {
                            border: none;
                            border-right: 0.5rem solid #E0E0E0;
                        }
                    }

                    input {
                        border: none;

                        @media (max-width: 991px) {
                            min-width: auto;
                        }

                        &:focus {
                            border: none;
                        }
                    }
                }

                input {
                    border-radius: 0;
                    padding: 0rem;
                    padding-left: 12rem;
                    height: 36rem;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12rem;
                    color: $black-color;

                    @media (max-width: 769px) {
                        min-width: auto;
                    }

                    &:focus {
                        border: 1rem solid $brown-color;
                        box-shadow: none;

                        &::placeholder {
                            color: transparent;
                        }
                    }

                    &::placeholder {
                        font-weight: 100;
                        color: #828282;
                    }
                }

                select {
                    position: relative;
                    border-radius: 0;
                    padding: 0rem;
                    padding-left: 12rem;
                    height: 36rem;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12rem;
                    color: $black-color;

                    &:focus {
                        border: 1rem solid $brown-color;
                        box-shadow: none;
                    }
                }

                .sign-up-for-email {
                    padding-top: 9rem;
                    display: flex;
                    align-items: center;
                    gap: 10rem;

                    input {
                        min-width: auto;
                        height: 15rem;
                        width: 15rem;
                    }

                    span {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 100;
                        font-size: 12rem;
                        color: #828282;
                    }
                }

                label {
                    opacity: 0;
                    height: auto;
                    padding: 0 5rem;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 10rem;
                    color: $brown-color;
                    background: #fff;
                    transform: scale(1) translateY(-8rem) translateX(17rem);
                    transition: 0.3s;
                }

                .checkboxes {
                    padding: 0;
                    opacity: 1;
                    min-width: auto;
                    transform: none;
                }

                >.form-control:focus,
                >.form-control:not(:placeholder-shown),
                >.form-select {
                    ~label {
                        opacity: 1;
                        background: #fff;
                        transform: scale(1) translateY(-8rem) translateX(17rem);
                        transition: 0.3s;
                    }
                }
            }

            .save-info-next-time {
                margin-top: 16rem;
                display: flex;
                align-items: center;
                gap: 10rem;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 100;
                font-size: 12rem;
                color: #828282;

                .checkboxes {
                    padding: 0;
                    opacity: 1;
                    min-width: auto;
                    transform: none;
                }
            }

            .delivery-methods {
                padding-top: 55rem;

                @media (max-width: 991px) {
                    padding-top: 35rem;
                }

                @media (max-width: 769px) {
                    padding-top: 30rem;
                }

                @media (max-width: 575px) {
                    padding-top: 27rem;
                }

                .delivery-method {
                    padding-top: 29rem;
                    display: flex;
                    align-items: center;
                    gap: 12rem;
                    cursor: pointer;

                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14rem;
                    color: $black-color;
                    transition: 0.3s;

                    @media (max-width: 769px) {
                        padding-top: 20rem;
                    }

                    @media (max-width: 575px) {
                        padding-top: 14rem;
                    }

                    &:last-child {
                        padding-top: 21rem;

                        @media (max-width: 769px) {
                            padding-top: 20rem;
                        }
                    }

                    &.delivery-method_selected {
                        transition: 0.3s;
                    }

                    .delivery-courier-price,
                    .delivery-post-price {
                        font-weight: 300;
                        width: auto;
                    }

                    label {
                        padding: 0;
                        cursor: pointer;
                    }

                    .delivery-method-text {
                        font-weight: 100;
                    }
                }
            }

            .amount-of-prepayment {
                padding-top: 58rem;

                @media (max-width: 991px) {
                    padding-top: 35rem;
                }

                @media (max-width: 769px) {
                    padding-top: 30rem;
                }

                @media (max-width: 575px) {
                    padding-top: 27rem;
                }

                .prepayment-sum {
                    padding-top: 29rem;
                    display: flex;
                    align-items: center;
                    gap: 12rem;
                    cursor: pointer;

                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14rem;
                    color: $black-color;
                    transition: 0.3s;

                    @media (max-width: 769px) {
                        padding-top: 20rem;
                    }

                    @media (max-width: 575px) {
                        padding-top: 14rem;
                    }

                    &.prepayment-sum_selected {
                        transition: 0.3s;
                    }

                    .prepayment-sum-price {
                        font-weight: 300;
                        width: auto;
                    }

                    label {
                        padding: 0;
                        cursor: pointer;
                    }

                    .prepayment-sum-text {
                        font-weight: 100;
                    }
                }
            }

            .payment-methods {
                padding-top: 43rem;

                @media (max-width: 991px) {
                    padding-top: 35rem;
                }

                @media (max-width: 769px) {
                    padding-top: 30rem;
                }

                @media (max-width: 575px) {
                    padding-top: 27rem;
                }

                .payment-method {
                    padding-top: 29rem;
                    display: flex;
                    align-items: center;
                    gap: 12rem;
                    cursor: pointer;

                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14rem;
                    color: $black-color;
                    transition: 0.3s;

                    @media (max-width: 769px) {
                        padding-top: 20rem;
                    }

                    @media (max-width: 575px) {
                        padding-top: 14rem;
                    }

                    &.payment-method_selected {
                        transition: 0.3s;
                    }

                    label {
                        padding: 0;
                        cursor: pointer;
                    }

                    .prepayment-sum-text {
                        font-weight: 300;
                    }
                }
            }

            .return-to-cart {
                @media (max-width: 769px) {
                    display: none;
                }

                &.mobile {
                    @media (max-width: 769px) {
                        display: block;
                    }
                }
            }
        }

        .ordered-items {
            width: 334rem;

            @media (max-width: 769px) {
                width: 100%;
            }

            @media (max-width: 575px) {
                display: none;
            }
        }
    }
}

.ordered-items {
    h2 {
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 300;
        font-size: 18rem;
        color: $black-color;
    }

    .products-in-cart {
        padding-bottom: 34rem;
        border-bottom: 0.5rem solid #BDBDBD;

        .product {
            width: 100%;
            padding-top: 18rem;
            display: flex;

            &:first-child {
                border: none;
            }
        }

        .product-name {
            display: flex;
            justify-content: space-between;
            gap: 17rem;
            width: 100%;

            .product-img {
                width: 30%;
                max-width: 79rem;
                height: 104rem;

                // @media (max-width: 991px) {
                //     width: 30%;
                // }

                // @media (max-width: 769px) {
                //     width: 20%;
                // }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .product-descr {
                width: 365rem;
                // width: 75%;
                font-family: Roboto;
                font-style: normal;
                font-weight: 100;
                font-size: 16rem;
                color: $black-color;

                // @media (max-width: 991px) {
                //     width: 70%;
                // }

                @media (max-width: 769px) {
                    font-size: 14rem;
                    width: 100%;
                }

                // @media (max-width: 769px) {
                //     width: 80%;
                // }

                .product-title-and-price {
                    display: flex;
                    justify-content: space-between;

                    .product-price {
                        font-weight: 300;
                    }
                }

                .product-options {
                    padding-top: 15rem;
                    display: flex;
                    gap: 8rem;

                    .product-color {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 6rem;
                        padding-left: 12rem;
                        border-left: 0.5rem solid #E0E0E0;
                    }
                }
            }
        }
    }
    .btn-main {
        margin-top: 29rem;
        justify-content: center;
    }

    .return-to-cart {
        @media (max-width: 769px) {
            display: none;
        }

        &.mobile {
            display: none;
            
            @media (max-width: 769px) {
                display: block;
            }
        }
    }
}

.total-sum-menu {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20rem;
    background: #FDFCFB;
    box-shadow: 0rem -4rem 4rem rgb(0 0 0 / 5%);
    display: none;

    @media (max-width: 575px) {
        display: block;
    }

    .menu-discount {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 100;
        font-size: 18rem;
        text-transform: capitalize;
        color: $black-color;

        @media (max-width: 425px) {
            // font-size: 14rem;
        }

        @media (max-width: 375px) {
            // font-size: 13rem;
        }

        .apply-discount {
            font-weight: 300;
            text-decoration: underline;
        }
    }

    .menu-sum {
        width: 100%;
        padding: 0;
        margin-top: 15rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 18rem;
        text-transform: capitalize;
        color: $black-color;

        @media (max-width: 425px) {
            // font-size: 14rem;
        }

        @media (max-width: 375px) {
            // font-size: 13rem;
        }
    }

    .continue {
        width: 100%;
        justify-content: center;
        font-size: 18rem;
        color: #fff;
        border: 1rem solid $brown-color;
        background-color: $brown-color;
        margin: 0rem auto;
        margin-top: 20rem;

        &:hover {
            color: $brown-color;
            border: 1rem solid $brown-color;
            background-color: #fff;
        }

        @media (max-width: 425px) {
            // font-size: 14rem;
        }

        @media (max-width: 375px) {
            // font-size: 13rem;
        }
    }
}

.order-summary {
    padding-top: 9rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16rem;
    color: $black-color;

    .products-price-field,
    .discount-field,
    .delivery-field,
    .payment-total-sum-field {
        display: flex;
        justify-content: space-between;
        padding-top: 20rem;
    }

    .payment-total-sum-field {
        font-weight: 300;
    }
}