.log-in-section {
    padding-top: 50rem;
    padding-bottom: 200rem;

    .log-in-wrapper {
        width: 25%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media (max-width: 1399px) {
            width: 30%;
        }

        @media (max-width: 1199px) {
            width: 35%;
        }

        @media (max-width: 991px) {
            width: 45%;
        }

        @media (max-width: 768px) {
            width: 50%;
        }

        @media (max-width: 575px) {
            width: 90%;
        }

        .mustValidate {
            width: 100%;
        }
    }

    h2 {
        padding-bottom: 55rem;
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 300;
        font-size: 36rem;
        color: $black-color;
        text-align: center;
    }

    .forgot-password {
        margin-top: 5rem;
        display: flex;
        justify-content: flex-end;
    }

    .sign-up {
        margin-top: 19rem;
        display: flex;
        justify-content: center;

        span {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 12rem;        
            color: $black-color;
        }
    }

    .forgot-password, .sign-up {
        a {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 12rem;        
            color: $black-color;
        }
    }

    .form-floating {
        &.password {
            margin-top: 24rem;
        }

        input {
            min-width: 100%;
            border-radius: 0;
            border: 1rem solid #828282;
            padding: 0rem;
            padding-left: 12rem;
            height: 36rem;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 12rem;
            color: $black-color;

            &:focus {
                border: 1rem solid $brown-color;
                box-shadow: none;

                &::placeholder {
                    color: transparent;
                }
            }

            &::placeholder {
                font-weight: 100;
                color: #828282;
            }
        }

        label {
            opacity: 0;
            height: auto;
            padding: 0 5rem;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 10rem;
            color: $brown-color;
            background: #fff;
            transform: scale(1) translateY(-8rem) translateX(17rem);
            transition: 0.3s;
        }

        >.form-control:focus,
        >.form-control:not(:placeholder-shown),
        >.form-select {
            ~label {
                opacity: 1;
                background: #fff;
                transform: scale(1) translateY(-8rem) translateX(17rem);
                transition: 0.3s;
            }
        }
    }
    
    .btn-main {
        margin-top: 22rem;
        padding: 14rem 0;
        width: 100%;
        justify-content: center;

        @media (max-width: 575px) {
            border: 1rem solid $brown-color;
            background-color: $brown-color;
            color: #fff;
    
            &:hover {
                background-color: #fff;
                color: $brown-color;
            }
        }
    }
}

.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 0;
    padding-bottom: 0;
}