.my-orders-section {
    padding-top: 71rem;
    padding-bottom: 100rem;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .my-order-pages {
        display: flex;
        flex-direction: column;
        width: 217rem;

        .my-order-page,
        .delivery-address-page,
        .personal-data-page {
            padding-top: 16rem;
            padding-bottom: 10rem;
            border-bottom: 1rem solid #E0E0E0;

            &.selected {
                border-bottom: 1rem solid #828282;
    
                a {
                    font-weight: 300;
                }
            }

            a {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 100;
                font-size: 16rem;
                color: $black-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .my-order-page {
            padding-top: 0rem;
            
            a {
                font-weight: 300;
            }
        }

        .log-off {
            margin-top: 45rem;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 100;
            font-size: 16rem;
            color: $black-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .my-orders {
        width: 70%;

        .my-order {
            padding-top: 28rem;
            padding-bottom: 26rem;
            border-top: 0.5rem solid #BDBDBD;
        
            &:first-child {
                border: none;
            }

            &:first-child {
                padding-top: 0;
            }

            .my-order-title {
                display: flex;
                justify-content: space-between;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 16rem;
                color: $black-color;
    
                .my-order-num-and-datetime {
                    display: flex;
                    gap: 30rem;
    
                    .my-order-datetime {
                        display: flex;
                    }
                }
            }
    
            .my-order-body {
                display: flex;
                justify-content: space-between;
                
                .product {
                    width: 100%;
                    height: 150rem;
                    padding-top: 28rem;
                    display: flex;
                    flex-direction: column;
    
                    .product-name {
                        display: flex;
                        gap: 17rem;
            
                        .product-img {
                            width: 25%;
                            max-width: 79rem;
                            height: 104rem;
            
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
            
                        .product-descr {
                            width: calc(100% - 96rem);
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 100;
                            font-size: 16rem;
                            color: $black-color;
    
                            .product-title-and-evaluation {
                                display: flex;
                                justify-content: space-between;

                            }
            
                            .product-options {
                                padding-top: 13rem;
                                display: flex;
                                align-items: center;
    
                                .vl {
                                    width: 0.5rem;
                                    height: 18rem;
                                    background-color: #E0E0E0;
                                }
    
                                .product-size {
                                    padding-right: 8rem;
                                }
            
                                .product-color {
                                    padding: 0 12rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 6rem;
                                }
    
                                .product-price {
                                    padding: 0 8rem;
                                }
    
                                .product-quantity {
                                    padding-left: 8rem;
                                }
                            }
    
                            .product-code {
                                padding-top: 13rem;
                            }
                        }
                    }
                }

                .full-address-and-phone {
                    padding-top: 28rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 100;
                    font-size: 14rem;
                    color: $black-color;

                    .full-phone {
                        padding-top: 13rem;
                    }
                }

                .products-and-contact-info {
                    width: 80%;
                }

                .product-evaluation-and-summary {
                    width: 20%;

                    .product-evaluation {
                        height: 150rem;
                        padding-top: 28rem;
                        display: flex;
                        flex-direction: column;

                        &:last-child {
                            height: 80rem;
                        }

                        .feedback {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 100;
                            font-size: 14rem;
                            text-align: end;

                            &:hover {
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }

                        .stars {
                            margin-left: 0;
                            justify-content: flex-end;
                        }

                        .hide {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .form-floating {
        input {
            min-width: 100%;
            border-radius: 0;
            border: 1rem solid #828282;
            padding: 0rem;
            padding-left: 12rem;
            height: 36rem;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 12rem;
            color: $black-color;
    
            &:focus {
                border: 1rem solid $brown-color;
                box-shadow: none;
    
                &::placeholder {
                    color: transparent;
                }
            }
    
            &::placeholder {
                font-weight: 100;
                color: #828282;
            }
        }
    
        select {
            position: relative;
            border-radius: 0;
            padding: 0rem;
            padding-left: 12rem;
            height: 36rem;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 12rem;
            color: $black-color;
    
            &:focus {
                border: 1rem solid $brown-color;
                box-shadow: none;
            }
        }
    
        label {
            opacity: 0;
            height: auto;
            padding: 0 5rem;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 10rem;
            color: $brown-color;
            background: #fff;
            transform: scale(1) translateY(-8rem) translateX(17rem);
            transition: 0.3s;
        }
    
        >.form-control:focus,
        >.form-control:not(:placeholder-shown),
        >.form-select {
            ~label {
                opacity: 1;
                background: #fff;
                transform: scale(1) translateY(-8rem) translateX(17rem);
                transition: 0.3s;
            }
        }
    }
    
    .form-floating>.form-control {
        height: 36rem; 
    }
}