.order-completed-section {
    padding-top: 66rem;
    padding-bottom: 76rem;

    .order-completed-wrapper {
        width: 30%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .order-number {
            padding-top: 12rem;
            display: flex;
            justify-content: center;
            gap: 4rem;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 100;
            font-size: 10rem;
            color: $black-color;
        }
    }

    h2 {
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 300;
        font-size: 18rem;
        color: $black-color;
        text-align: center;
    }

    .accordion-content {
        padding: 0;
    }

    .accordion {
        border-top: 0.5rem solid #BDBDBD;
        padding-top: 11rem;

        &:after {
            content: '';
            background: url(/icons/plus.svg) 50% 50% no-repeat;
            background-size: cover;
            width: 14rem;
            height: 8rem;
            font-weight: bold;
            float: right;
            margin-right: 5rem;
            transition: transform .2s ease-in-out;
        }
        
        &.active{
            border-bottom: none;

            &::after {
                content: '';
                transition: transform .2s ease-in-out;
                transform: rotate(0);
                background: url(/icons/minus.svg) 50% 50% no-repeat;
            }
        }
    }

    .order-summary {
        padding-bottom: 23rem;

        .btn-main {
            width: 50%;
            margin: 0 auto;
            margin-top: 22rem;
            justify-content: center;
        }
    }
}