.payment-section {
    padding-top: 29px;

    .card-info-and-order-summary {
        padding-top: 81px;
        padding-bottom: 73px;
        display: flex;
        gap: 78px;

        h2 {
            font-family: 'Cormorant Garamond';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            color: $black-color; 
        }

        .card-information-title {
            padding-bottom: 20px;
            display: flex;
            justify-content: space-between;
            font-family: 'Cormorant Garamond';
            font-style: normal;
            font-weight: 100;
            font-size: 18px;
            color: $black-color;
        }

        .return-to-cart {
            margin-top: 34px;
        }

        .card-information {
            width: 50%;
            padding-right: 60px;
            border-right: 0.5px solid #E0E0E0;

            .mustValidate {
                padding: 31px 23px 37px 23px;
                border: 0.5px solid #E0E0E0;
            }

            .form-floating {

                &.full-name {
                    display: flex;
                    gap: 20px;
                    width: 100%;
                    input {
                        min-width: auto;
                    }
                }

                &.valid-until-month-and-year {
                    padding-top: 26px;
                    display: flex;
                    gap: 20px;
                    width: 100%;

                    input {
                        min-width: auto;
                    }
                }

                &.valid-until-month-and-year {
                    padding-top: 0;
                    margin-top: 16px;
                }

                .valid-until-year {
                    position: relative;
                    &::after {
                        content: '';
                        background-color: #E0E0E0;
                        top: 50%;
                        right: 15%;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 21px;
                        position: absolute;
                    }
                }

                &.first-name,
                .last-name,
                .valid-until-month,
                .valid-until-year {
                    width: 50%;
                }

                &.card-number {
                    margin-top: 16px;
                }

                input {
                    border-radius: 0;
                    padding: 0px;
                    padding-left: 12px;
                    height: 36px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12px;
                    color: $black-color;

                    &:focus {
                        border: 1px solid $brown-color;
                        box-shadow: none;

                        &::placeholder {
                            color: transparent;
                        }
                    }

                    &::placeholder {
                        font-weight: 100;
                        color: #828282;
                    }
                }

                select {
                    position: relative;
                    border-radius: 0;
                    padding: 0px;
                    padding-left: 12px;
                    height: 36px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12px;
                    color: $black-color;

                    &:focus {
                        border: 1px solid $brown-color;
                        box-shadow: none;
                    }
                }

                label {
                    opacity: 0;
                    height: auto;
                    padding: 0 5px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 10px;
                    color: $brown-color;
                    background: #fff;
                    transform: scale(1) translateY(-12px) translateX(17px);
                    transition: 0.3s;
                }

                >.form-control:focus,
                >.form-control:not(:placeholder-shown),
                >.form-select {
                    ~label {
                        opacity: 1;
                        background: #fff;
                        transform: scale(1) translateY(-12px) translateX(17px);
                        transition: 0.3s;
                    }
                }
            }

            .remember-card-next-time {
                margin-top: 16px;
                display: flex;
                align-items: center;
                gap: 10px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 100;
                font-size: 12px;
                color: #828282;

                .checkboxes {
                    padding: 0;
                }
            }
        }
    }

    .order-summary {
        width: 50%;
        padding-top: 0;

        .products-price-field,
        .discount-field,
        .delivery-field,
        .payment-total-sum-field {
            width: 65%;
        }

        .order-summary-title {
            display: flex;
        }

        .btn-main {
            margin-top: 25px;
            width: 65%;
            justify-content: center;
        }
    }
}