.payment-section {
    padding-top: 29rem;

    .bread-crumbs {
        @media (max-width: 575px) {
            a {
                &:first-child {
                    display: none;
                }
            }
        }
    }

    .return-mobile {
        display: none;
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 100;
        font-size: 14rem;
        color: $black-color;

        @media (max-width: 575px) {
            display: flex;
            justify-content: space-between;
            padding-top: 24rem;

            .return-to-cart {
                margin-top: 0;
            }
        }

        .have-an-account {
            font-family: 'Roboto';

            @media (max-width: 575px) {
                display: flex;
                justify-content: space-between;
    
                .return-to-cart {
                    margin-top: 0;
                }
            }

            .log-in {
                font-weight: 500;
                text-decoration: none;
                color: $black-color;
            }
        }
    }

    .card-info-and-order-summary {
        padding-top: 81rem;
        padding-bottom: 73rem;
        display: flex;
        gap: 78rem;

        @media (max-width: 1200px) {
            gap: 50rem;
        }

        @media (max-width: 992px) {
            padding-top: 40rem;
            padding-bottom: 55rem;
            gap: 30rem;
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }

        @media (max-width: 575px) {
            padding-top: 20rem;
        }

        h2 {
            font-family: 'Cormorant Garamond';
            font-style: normal;
            font-weight: 300;
            font-size: 18rem;
            color: $black-color; 
        }

        .card-information-title {
            padding-bottom: 20rem;
            display: flex;
            justify-content: space-between;
            font-family: 'Cormorant Garamond';
            font-style: normal;
            font-weight: 100;
            font-size: 18rem;
            color: $black-color;
        }

        .return-to-cart {
            margin-top: 34rem;

            @media (max-width: 768px) {
                display: none;
            }

            &.mobile {
                display: none;

                @media (max-width: 767px) {
                    display: block;
                }
            }
        }

        .card-information {
            width: 50%;
            padding-right: 60rem;
            border-right: 0.5rem solid #E0E0E0;

            @media (max-width: 1200px) {
                width: 55%;
                padding-right: 30rem;
            }

            @media (max-width: 992px) {
                width: 60%;
                padding-right: 20rem;
            }

            @media (max-width: 768px) {
                width: 100%;
                padding-right: 0rem;
                border: none;
            }

            .mustValidate {
                padding: 31rem 23rem 37rem 23rem;
                border: 0.5rem solid #E0E0E0;

                @media (max-width: 575px) {
                    padding: 0;
                    border: none;
                }
            }

            .form-floating {

                &.full-name {
                    display: flex;
                    gap: 20rem;
                    width: 100%;

                    input {
                        min-width: auto;
                    }

                    @media (max-width: 575px) {
                        flex-direction: column;
                    }
                }

                &.valid-until-month-and-year {
                    padding-top: 26rem;
                    display: flex;
                    gap: 20rem;
                    width: 100%;

                    @media (max-width: 575px) {
                        flex-direction: column;
                    }

                    input {
                        min-width: auto;
                    }
                }

                &.valid-until-month-and-year {
                    padding-top: 0;
                    margin-top: 16rem;
                    position: relative;

                    svg {
                        position: absolute;
                        right: 12rem;
                        top: 50%;
                        transform: translateY(-50%);
                        pointer-events: none;
                    }
                }

                .valid-until-year,
                .valid-until-month {
                    position: relative;
                    cursor: pointer;

                    input {
                        cursor: pointer;
                    }

                    &::after {
                        content: '';
                        background-color: #E0E0E0;
                        top: 50%;
                        right: 29rem;
                        transform: translateY(-50%);
                        width: 1rem;
                        height: 21rem;
                        position: absolute;
                    }
                }

                .valid-until-month {
                    .datepicker-header {
                        display: none;
                    }
                }

                &.first-name,
                .last-name,
                .valid-until-month,
                .valid-until-year {
                    width: 50%;

                    @media (max-width: 575px) {
                        width: 100%;
                    }
                }

                &.card-number {
                    margin-top: 16rem;
                }

                input {
                    border-radius: 0;
                    padding: 0rem;
                    padding-left: 12rem;
                    height: 36rem;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12rem;
                    color: $black-color;

                    @media (max-width: 992px) {
                        min-width: auto;
                    }

                    &:focus {
                        border: 1rem solid $brown-color;
                        box-shadow: none;

                        &::placeholder {
                            color: transparent;
                        }
                    }

                    &::placeholder {
                        font-weight: 100;
                        color: #828282;
                    }
                }

                select {
                    position: relative;
                    border-radius: 0;
                    padding: 0rem;
                    padding-left: 12rem;
                    height: 36rem;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12rem;
                    color: $black-color;

                    &:focus {
                        border: 1rem solid $brown-color;
                        box-shadow: none;
                    }
                }

                label {
                    opacity: 0;
                    height: auto;
                    padding: 0 5rem;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 10rem;
                    color: $brown-color;
                    background: #fff;
                    transform: scale(1) translateY(-12rem) translateX(17rem);
                    transition: 0.3s;
                }

                >.form-control:focus,
                >.form-control:not(:placeholder-shown),
                >.form-select {
                    ~label {
                        opacity: 1;
                        background: #fff;
                        transform: scale(1) translateY(-12rem) translateX(17rem);
                        transition: 0.3s;
                    }
                }
            }

            .remember-card-next-time {
                margin-top: 16rem;
                display: flex;
                align-items: center;
                gap: 10rem;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 100;
                font-size: 12rem;
                color: #828282;

                .checkboxes {
                    padding: 0;
                }
            }
        }
    }

    .order-summary {
        width: 50%;
        padding-top: 0;

        @media (max-width: 1200px) {
            width: 45%;
        }

        @media (max-width: 992px) {
            width: 40%;
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        @media (max-width: 575px) {
            display: none;
        }

        .products-price-field,
        .discount-field,
        .delivery-field,
        .payment-total-sum-field {
            width: 65%;

            @media (max-width: 1200px) {
                width: 100%;
            }
        }

        .order-summary-title {
            display: flex;
        }

        .btn-main {
            margin-top: 25rem;
            width: 65%;
            justify-content: center;

            @media (max-width: 1200px) {
                width: 100%;
            }
        }
    }

    .total-sum-menu {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 20rem;
        background: #FDFCFB;
        box-shadow: 0rem -4rem 4rem rgb(0 0 0 / 5%);
        display: none;
    
        @media (max-width: 575px) {
            display: block;
        }
    
        .menu-discount {
            width: 100%;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 100;
            font-size: 18rem;
            text-transform: capitalize;
            color: $black-color;
    
            @media (max-width: 425px) {
                // font-size: 14rem;
            }
    
            @media (max-width: 375px) {
                // font-size: 13rem;
            }
    
            .apply-discount {
                font-weight: 300;
                text-decoration: underline;
            }
        }
    
        .menu-sum {
            width: 100%;
            padding: 0;
            margin-top: 15rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 18rem;
            text-transform: capitalize;
            color: $black-color;
    
            @media (max-width: 425px) {
                // font-size: 14rem;
            }
    
            @media (max-width: 375px) {
                // font-size: 13rem;
            }
        }
    
        .continue {
            width: 100%;
            justify-content: center;
            font-size: 18rem;
            color: #fff;
            border: 1rem solid $brown-color;
            background-color: $brown-color;
            margin: 0rem auto;
            margin-top: 20rem;
    
            &:hover {
                color: $brown-color;
                border: 1rem solid $brown-color;
                background-color: #fff;
            }
    
            @media (max-width: 425px) {
                // font-size: 14rem;
            }
    
            @media (max-width: 375px) {
                // font-size: 13rem;
            }
        }
    }
}