.personal-data-page-section {
    padding-top: 71rem;
    padding-bottom: 95rem;

    @media (max-width: 991px) {
        padding-top: 50rem;
        padding-bottom: 70rem;
    }

    @media (max-width: 768px) {
        padding-top: 45rem;
        padding-bottom: 65rem;
    }

    .container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 45rem;
        }
    }

    .my-order-pages {
        display: flex;
        flex-direction: column;
        width: 217rem;

        @media (max-width: 991px) {
            width: 20%;
        }

        @media (max-width: 768px) {
            width: 50%;
        }

        .my-order-page,
        .delivery-address-page,
        .personal-data-page {
            padding-top: 16rem;
            padding-bottom: 10rem;
            border-bottom: 1rem solid #E0E0E0;

            &.selected {
                border-bottom: 1rem solid #828282;
    
                a {
                    font-weight: 300;
                }
            }

            a {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 100;
                font-size: 16rem;
                color: $black-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .my-order-page {
            padding-top: 0;
        }

        .log-off {
            margin-top: 45rem;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 100;
            font-size: 16rem;
            color: $black-color;
            text-decoration: none;

            @media (max-width: 768px) {
                margin-top: 30rem;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .personal-data-forms {
        width: 70%;

        @media (max-width: 991px) {
            width: 75%;
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        .personal-data-form,
        .password-form,
        .sub-to-news-form {
            margin-top: 30rem;
            border: 1rem solid #E0E0E0;

            &.hide {
                display: none;
            }

            .personal-data-form-head,
            .password-form-head,
            .sub-to-news-form-head {
                border-bottom: 1rem solid #E0E0E0;
                padding: 15rem 20rem 15rem 31rem;
                display: flex;
                justify-content: space-between;

                font-family: 'Roboto';
                font-style: normal;
                font-weight: 100;
                font-size: 16rem;
                color: $black-color;

                @media (max-width: 991px) {
                    // font-size: 14rem;
                }
            }

            .personal-data-form-body,
            .password-form-body,
            .sub-to-news-form-body {
                padding: 41rem 31rem 30rem 31rem;

                .form-floating {
                    &.full-name,
                    &.email-and-phone,
                    &.date-of-birth-full,
                    &.passwords {
                        display: flex;
                        gap: 20rem;
                        width: 100%;
    
                        input {
                            min-width: auto;
                        }
                    }
    
                    &.email-and-phone,
                    &.date-of-birth {
                        padding-top: 0;
                        margin-top: 16rem;
                    }
    
                    .first-name,
                    .last-name,
                    .email,
                    .phone,
                    .date-of-birth,
                    .valid-until-year {
                        width: 50%;
                    }
                    
                    .old-password,
                    .current-password,
                    .new-password {
                        width: 33.33333%;
                    }

                    &.valid-until-year {
                        height: 0;
                        
                        input {
                            height: 0;
                            border: none;
                        }
                    }

                    input {
                        min-width: 100%;
                        border-radius: 0;
                        border: 1rem solid #E0E0E0;
                        padding: 0rem;
                        padding-left: 12rem;
                        height: 36rem;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12rem;
                        color: $black-color;
                
                        &:focus {
                            border: 1rem solid $brown-color;
                            box-shadow: none;
                
                            &::placeholder {
                                color: transparent;
                            }
                        }
                
                        &::placeholder {
                            font-weight: 100;
                            color: #828282;
                        }
                    }
                
                    select {
                        position: relative;
                        border-radius: 0;
                        padding: 0rem;
                        padding-left: 12rem;
                        height: 36rem;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12rem;
                        color: $black-color;
                
                        &:focus {
                            border: 1rem solid $brown-color;
                            box-shadow: none;
                        }
                    }
                
                    label {
                        opacity: 0;
                        height: auto;
                        padding: 0 5rem;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 10rem;
                        color: $brown-color;
                        background: #fff;
                        transform: scale(1) translateY(-8rem) translateX(17rem);
                        transition: 0.3s;
                    }

                    .checkboxes {
                        padding: 0;
                        opacity: 1;
                        min-width: auto;
                        transform: none;
                    }
                
                    >.form-control:focus,
                    >.form-control:not(:placeholder-shown),
                    >.form-select {
                        ~label {
                            opacity: 1;
                            background: #fff;
                            transform: scale(1) translateY(-8rem) translateX(17rem);
                            transition: 0.3s;
                        }
                    }
                }

                .sub-to-news-email_block_form {
                    display: flex;
    
                    input {
                        width: 100%;
                        padding: 11rem;
                        border: 1rem solid $brown-color;
                        min-width: auto;
                        color: $black-color;
                        
                        &:focus {
                            border: 1rem solid $brown-color;
                            box-shadow: none;
                
                            &::placeholder {
                                color: transparent;
                            }
                        }
                
                        &::placeholder {
                            font-weight: 100;
                            color: #828282;
                        }
                    }
    
                    button {
                        padding: 11rem 38rem;
                        border: 1rem solid $brown-color;
                        background-color: $brown-color;
                        color: #fff;
    
                        &:hover {
                            background-color: #fff;
                            color: $brown-color;
                        }
                    }
                }

                .save {
                    margin-top: 30rem;
                    display: flex;
                    justify-content: flex-end;

                    .btn-main {
                        margin-top: 0;
                        padding: 12rem 63rem;
                    }
                }
            }

            .sub-to-news-form-body {
                padding: 34rem 31rem 49rem 31rem;
            }
        }

        .personal-data-form {
            margin-top: 0;
        }
    }
}