.promo {
    padding: 110rem 0 130rem 0;
    height: 100vh;
    background: url('/img/promo/main-bg.jpg') center (center/cover) no-repeat;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &_wrapper {
        max-width: 55%;

        .promo_collection {
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 16rem;
            color: #fff;
        }

        .promo_title {
            h1 {
                padding: 19rem 0;
                font-family: 'Cormorant Garamond';
                font-weight: 300;
                font-size: 64rem;
                line-height: 78rem;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }

        .promo_subtitle {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 16rem;
            line-height: 19rem;
            color: #FFFFFF;
        }

        .promo_btn {
            margin-top: 30rem;
            display: inline-flex;
        }
    }
}