.main {
    padding-top: 81rem;
}

.product-category {
    padding-top: 29rem;

    h2 {
        padding-top: 5rem;
        text-align: center;
        font-family: Cormorant Garamond;
        font-style: normal;
        font-weight: 300;
        font-size: 36rem;
        color: $black-color;
    }

    .close-icon_filter {
        cursor: pointer;
    }

    .filters-and-quantity-prod {
        display: flex;
        justify-content: space-between;

        .quantity-prod {
            font-family: Roboto;
            font-style: normal;
            font-weight: 100;
            font-size: 12rem;
            color: $black-color;
        }
    }

    .filters {
        display: flex;
        gap: 47rem;
    }

    .selected-filters {
        display: flex;
        gap: 23rem;
        padding-top: 26rem;

        .selected-filters_title {
            display: flex;
            align-items: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 14rem;
            color: $black-color;
        }

        .selected-filter {
            display: flex;
            gap: 42rem;
            border: 0.5rem solid $black-color;
            padding: 5rem 11rem;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 14rem;
            color: $black-color;
        }
    }

    .product-catalog {
        display: flex;
        flex-wrap: wrap;
        padding-top: 54rem;
        padding-bottom: 130rem;
        gap: 36rem;

        .product_card {
            width: calc(25% - 27rem);
        }
    }
}