.product-page-content {
    padding-top: 29rem;

    .product-content {
        display: flex;
        padding-top: 60rem;
        gap: 80rem;

        @media (max-width: 1199px) {
            padding-top: 35rem;
            gap: 40rem;
        }

        @media (max-width: 991px) {
            padding-top: 25rem;
            gap: 30rem;
        }

        @media (max-width: 769px) {
            flex-direction: column;
            gap: 15rem;
        }

        .product-main-image-mobile {
            display: none;
            position: relative;
            
            @media (max-width: 575px) {
                display: block;
            }

            a {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    min-height: 640rem;
                    max-height: 640rem;
                    object-fit: cover;

                    @media (max-width: 425px) {
                        min-height: 480rem;
                        max-height: 480rem;
                    }

                    @media (max-width: 375px) {
                        min-height: 420rem;
                        max-height: 420rem;
                    }
                }
            }

            .heart-icon_svg {
                position: absolute;
                top: 17rem;
                right: 17rem;
                cursor: pointer;
                transition: 0.3s;
                z-index: 3;
    
                .heart-icon_path {
                    transition: 0.3s;
    
                    &.heart-icon_path_active {
                        transition: 0.3s;
                        fill: $red-color;
                        stroke: transparent;
                    }
                }
    
                &:hover {
                    .heart-icon_path {
                        transition: 0.3s;
                        fill: $red-color;
                        stroke: transparent;
                    }
                }
            }
        }

        .product-images-and-descr {
            display: flex;
            // padding-top: 60rem;
            gap: 80rem;
            height: 100%;

            @media (max-width: 1199px) {
                padding-top: 35rem;
                gap: 40rem;
            }

            @media (max-width: 991px) {
                padding-top: 25rem;
                gap: 30rem;
            }

            @media (max-width: 769px) {
                flex-direction: column;
                gap: 15rem;
                padding-top: 11rem;
            }

            @media (max-width: 575px) {
                display: flex;
                flex-direction: column-reverse;
            }

            @media (max-width: 425px) {
                padding-top: 0;
            }
        }

        .product-images {
            width: 60%;
            // calc(55% - 40rem);
            display: flex;
            flex-wrap: wrap;
            gap: 8rem;

            @media (max-width: 769px) {
                width: 100%;
                gap: 20rem;
            }

            @media (max-width: 575px) {
                padding-top: 26rem;
                gap: 10rem;
            }

            a {
                width: calc(50% - 4rem);

                @media (max-width: 769px) {
                    width: calc(50% - 10rem);
                }

                @media (max-width: 575px) {
                    width: 100%;
                    height: 100%;
                }

                &:first-child {
                    @media (max-width: 575px) {
                        display: none;

                        img {
                            display: none;
                        }
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    min-height: 540rem;
                    max-height: 540rem;
                    object-fit: cover;

                    @media (max-width: 1199px) {
                        min-height: 420rem;
                        max-height: 420rem;
                    }

                    @media (max-width: 991px) {
                        min-height: 350rem;
                        max-height: 350rem;
                    }

                    @media (max-width: 769px) {
                        min-height: 400rem;
                        max-height: 400rem;
                    }

                    @media (max-width: 575px) {
                        min-height: 640rem;
                        max-height: 640rem;
                    }

                    @media (max-width: 425px) {
                        min-height: 480rem;
                        max-height: 480rem;
                    }

                    @media (max-width: 375px) {
                        min-height: 420rem;
                        max-height: 420rem;
                    }
                }
            }
        }

        .product-name-title {
            font-family: Cormorant Garamond;
            font-style: normal;
            font-weight: 300;
            font-size: 36rem;
            text-transform: capitalize;
            color: $black-color;

            &.mobile {
                @media (max-width: 575px) {
                    display: block;
                    font-weight: 100;
                    font-size: 16rem;
                }

                @media (max-width: 425px) {
                    // font-size: 18rem;
                }

                @media (max-width: 375px) {
                    // font-size: 16rem;
                }
            }

            @media (max-width: 575px) {
                display: none;
            }
        }

        .product-descr-and-name {
            width: 40%;
            height: 100%;
            position: sticky;
            top: 80rem;

            @media (max-width: 769px) {
                width: 100%;
            }

            @media (max-width: 575px) {
                position: static;
            }
        }

        .product-descr {
            width: 100%;

            .product-variation {
                @media (max-width: 575px) {
                    display: none;
                }
            }

            .product-variation-mobile {
                display: none;

                @media (max-width: 575px) {
                    display: block;
                }


                .product-text-color {
                    text-align: center;

                    .color-name {
                        font-size: 12rem;

                        @media (max-width: 425px) {
                            // font-size: 14rem;
                        }

                        @media (max-width: 375px) {
                            // font-size: 12rem;
                        }
                    }
                }

                .product-colors {
                    &.mobile {
                        gap: 10rem;
                        justify-content: center;
                    }

                    .product-color-mobile {
                        .selected-color {
                            border: 1px solid $black-color;
                        }

                        img {
                            height: 100%;
                            min-height: 150rem;
                            max-height: 150rem;
                            object-fit: cover;

                            @media (max-width: 425px) {
                                min-height: 98rem;
                                max-height: 98rem;
                            }
    
                            @media (max-width: 375px) {
                                min-height: 84rem;
                                max-height: 84rem;
                            }
                        }
                    }
                }

                .product-title-and-price {
                    .product-name-title-and-color {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .product-colors {
                            padding-top: 0;
                        }
                    }

                    .product-price {
                        padding-top: 0;
                        font-size: 24rem;

                        @media (max-width: 575px) {
                            padding-top: 10rem;
                            font-size: 16rem;
                        }

                        @media (max-width: 375px) {
                            // font-size: 16rem;
                        }
                    }
                }

                .product-menu-bottom {
                    width: 100%;
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    z-index: 10;
                    padding: 20rem;
                    background: #FDFCFB;
                    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);

                    .available {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 19rem;
                        
                        &.hide {
                            display: none;
                        }

                        .select-size-product {
                            display: inline-flex;
                            gap: 8rem;
                            padding: 16rem 18rem 16rem 21rem;
                            font-size: 14rem;
                            color: #333333;
                            border: 1px solid #BDBDBD;

                            @media (max-width: 425px) {
                                // padding: 20rem 42.5rem;
                                // font-size: 16rem;
                            }
    
                            @media (max-width: 375px) {
                                // padding: 18rem 34rem;
                                // font-size: 16rem;
                            }
                        }

                        .brown-btn {
                            display: inline-flex;
                            padding: 15rem 32rem;
                            font-size: 16rem;

                            @media (max-width: 425px) {
                                // padding: 20rem 42.5rem;
                                // font-size: 16rem;
                            }
    
                            @media (max-width: 375px) {
                                // padding: 18rem 34rem;
                                // font-size: 16rem;
                            }
                        }
                    }

                    .not-available {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 19rem;

                        &.hide {
                            display: none;
                        }

                        .disabled {
                            display: inline-flex;
                            gap: 8rem;
                            padding: 16rem 12rem 16rem 14rem;
                            font-size: 14rem;
                            color: $red-color;
                            border: 1px solid #BDBDBD;

                            @media (max-width: 425px) {
                                // padding: 20rem 42.5rem;
                                // font-size: 16rem;
                            }
    
                            @media (max-width: 375px) {
                                // padding: 18rem 34rem;
                                // font-size: 16rem;
                            }
                        }

                        .show-modal-notifyme {
                            display: inline-flex;
                            padding: 14rem 38rem;
                            font-size: 16rem;

                            @media (max-width: 425px) {
                                // padding: 20rem 44.5rem;
                                // font-size: 16rem;
                            }
    
                            @media (max-width: 375px) {
                                // padding: 18rem 34rem;
                                // font-size: 16rem;
                            }
                        }
                    }
                }
            }

            .product-price {
                font-family: Cormorant Garamond;
                font-style: normal;
                font-weight: 300;
                font-size: 36rem;
                text-transform: capitalize;
                color: $black-color;
            }

            .product-price {
                padding-top: 25rem;
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 24rem;
                text-transform: capitalize;
                color: $black-color;

                @media (max-width: 1199px) {
                    // padding-top: 15rem;
                    // font-size: 20rem;
                }
            }

            .product-text-color {
                padding-top: 25rem;
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                text-transform: capitalize;
                color: $black-color;

                span {
                    font-size: 18rem;

                    @media (max-width: 1440px) {
                        // font-size: 14rem;
                    }
                }

                @media (max-width: 1199px) {
                    // padding-top: 15rem;
                }
            }

            .product-colors {
                padding-top: 15rem;
                display: flex;
                gap: 8rem;

                .product-color {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 6rem;
                    border: 1rem solid transparent;
                    border-radius: 50%;
                    transition: 0.3s;
                    cursor: pointer;

                    &.product-color_active {
                        transition: 0.3s;
                        border: 1rem solid $black-color;
                    }

                    &:hover {
                        transition: 0.3s;
                        border: 1rem solid $black-color;
                    }
                }
            }

            .size-guide {
                display: inline-block;
                padding-top: 17rem;
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 14rem;
                text-transform: capitalize;
                color: $black-color;
                cursor: pointer;

                &:hover {
                    text-decoration-line: underline;
                }
            }

            .not-available {
                display: none;
                padding-top: 26rem;
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 14rem;
                color: $red-color;

                &.show {
                    display: block;
                }
            }

            .product-sizes {
                padding-top: 15rem;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14rem;
                text-transform: capitalize;
                color: $black-color;
                display: flex;
                gap: 11rem;

                .product-size {
                    height: 44rem;
                    width: 44rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1rem solid #BDBDBD;
                    border-radius: 50%;
                    transition: 0.3s;
                    cursor: pointer;

                    &.product-size_active {
                        transition: 0.3s;
                        font-weight: 600;
                        border: 1rem solid $black-color;
                    }

                    &:hover {
                        transition: 0.3s;
                        font-weight: 600;
                        border: 1rem solid $black-color;
                    }
                }

                &.hide {
                    display: none;
                }
            }

            .buy-and-save-product {
                padding-top: 31rem;
                display: flex;
                gap: 27rem;

                @media (max-width: 1199px) {
                    padding-top: 24rem;
                }

                .btn-main {
                    color: #000;
                    border: 1rem solid #000;
                    padding: 15rem 70rem;

                    &.hide {
                        display: none;
                    }

                    &.show-modal-notifyme {
                        
                    }

                    &:hover {
                        color: #fff;
                        background-color: $brown-color;
                        border: 1rem solid $brown-color;
                    }
                }

                .save-to-favorite {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .heart-icon_svg {
                        cursor: pointer;
                        transition: 0.3s;

                        .heart-icon_path {
                            transition: 0.3s;

                            &.heart-icon_path_active {
                                transition: 0.3s;
                                fill: $red-color;
                                stroke: transparent;
                            }
                        }
            
                        &:hover {
                            .heart-icon_path {
                                transition: 0.3s;
                                fill: $red-color;
                                stroke: transparent;
                            }
                        }
                    }
                }
            }

            .accordions {
                .accordion {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14rem;
                    color: $black-color;
                    text-align: start;

                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 15rem 0;
                    background-color: transparent;
                    outline: none;
                    padding: 0;
                    padding-bottom: 11rem;
                    border: none;
                    border-bottom: 0.5rem solid #BDBDBD;

                    @media (max-width: 575px) {
                        font-size: 14rem;
                    }

                    @media (max-width: 425px) {
                        // font-size: 18rem;
                    }

                    @media (max-width: 375px) {
                        // font-size: 16rem;
                    }

                    &:after {
                        content: '';
                        background: url(../icons/arrow-down.svg) 50% 50% no-repeat;
                        background-size: cover;
                        width: 14rem;
                        height: 8rem;
                        font-weight: bold;
                        float: right;
                        margin-right: 5rem;
                        transition: transform .2s ease-in-out;
                    }

                    &:first-child {
                        margin-top: 45rem;

                        @media (max-width: 1199px) {
                            margin-top: 28rem;
                        }
                    }
                }

                .active{
                    &::after {
                        transition: transform .2s ease-in-out;
                        transform: rotate(-180deg);
                    }
                }

                .accordion-content {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 100;
                    font-size: 14rem;
                    line-height: 16rem;
                    color: $black-color;

                    padding: 0rem 16rem;
                    background-color: #fff;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.3s ease-out;

                    @media (max-width: 575px) {
                        font-size: 14rem;
                        line-height: 16rem;
                    }

                    @media (max-width: 425px) {
                        // font-size: 28rem;
                    }

                    @media (max-width: 375px) {
                        // font-size: 16rem;
                    }
                }
            }
        }
    }
}