.product_card-in-cart {
    padding: 28rem 0;
    border-top: 1rem solid rgba($brown-color, 0.3);
    display: flex;
    justify-content: space-between;
    gap: 17rem;
    font-family: Roboto;
    font-style: normal;
    font-size: 14rem;

    @media (max-width: 575px) {
        font-size: 18rem;
    }

    @media (max-width: 425px) {
        font-size: 14rem;
    }

    @media (max-width: 375px) {
        font-size: 13rem;
    }

    &:first-child {
        border-top: none;
    }

    .product_card-in-cart_img {
        img {
            width: 100%;
            max-height: 136rem;
        }
    }

    .product_card-in-cart_descr {
        display: flex;
        flex-direction: column;
        width: 45%;

        .product_card-in-cart_price {
            font-weight: 300;
            color: $black-color;
        }

        .product_card-in-cart_title {
            padding-top: 9rem;
            font-weight: 100;
            color: $black-color;
        }

        .product_card-in-cart_options {
            padding-top: 9rem;
            font-weight: 100;
            color: $black-color;
            display: flex;

            .product_card-in-cart_size {
                padding-right: 7rem;
                border-right: 1rem solid rgba($brown-color, 0.3);
            }

            .product_card-in-cart_color {
                display: flex;
                align-items: center;
                gap: 3rem;
                padding-left: 7rem;
            }
        }

        .product_card-in-cart_quantity {
            padding-top: 9rem;
            font-weight: 100;
            color: $black-color;

            .product-quantity {
                width: 19rem;
                min-width: auto;
                color: #333;
                padding: 0;
                font-weight: 100;
                text-align: center;
            }

            .number-input {
                display: flex;
                gap: 8px;
            }

            .number-input button {
                outline: none;
                -webkit-appearance: none;
                background-color: transparent;
                border: none;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin: 0;
                padding: 0;
                position: relative;
                font-size: 18rem;
            }

            .number-input button.minus:after {
                content: '-';
            }

            .number-input button.plus:after {
                content: '+';
            }
        }
    }

    .product_card-in-cart_icons {
        display: flex;
        gap: 8rem;

        .heart-icon_svg {
            cursor: pointer;
            width: 19px;

            .heart-icon_path {
                transition: 0.3s;

                &.heart-icon_path_active {
                    transition: 0.3s;
                    fill: $red-color;
                    stroke: transparent;
                }
            }

            &:hover {
                .heart-icon_path {
                    transition: 0.3s;
                    fill: $red-color;
                    stroke: transparent;
                }
            }
        }
    }
}