.product_card-in-cart {
    padding: 28rem 0;
    border-top: 1rem solid rgba($brown-color, 0.3);
    display: flex;
    justify-content: space-between;
    gap: 17rem;
    font-family: Roboto;
    font-style: normal;
    font-size: 14rem;

    &:first-child {
        border-top: none;
    }

    &:last-child {
        padding-bottom: 0;
    }

    .product_card-in-cart_img {
        img {
            width: 100%;
            max-height: 136rem;
        }
    }

    .product_card-in-cart_descr {
        display: flex;
        flex-direction: column;
        width: 45%;

        .product_card-in-cart_price {
            font-weight: 300;
            color: $black-color;
        }

        .product_card-in-cart_title {
            padding-top: 9rem;
            font-weight: 100;
            color: $black-color;
        }

        .product_card-in-cart_options {
            padding-top: 9rem;
            font-weight: 100;
            color: $black-color;
            display: flex;

            .product_card-in-cart_size {
                padding-right: 7rem;
                border-right: 1rem solid rgba($brown-color, 0.3);
            }

            .product_card-in-cart_color {
                display: flex;
                align-items: center;
                gap: 3rem;
                padding-left: 7rem;
            }
        }

        .product_card-in-cart_quantity {
            padding-top: 9rem;
            font-weight: 100;
            color: $black-color;
        }
    }

    .product_card-in-cart_icons {
        display: flex;
        gap: 8rem;
    }
}