.product_card {
    position: relative;
    min-width: calc(22% - 22.5rem);

    .product_img {
        position: relative;
        transition: 0.3s;

        &:hover {
            transition: 0.3s;
            
            &:after {
                opacity: 1;
            }

            .cart-icon {
                opacity: 1;
                transition: 0.3s;
            }

            .product-sizes {
                opacity: 1;
                transition: 0.3s;
            }
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.2);
            left: 0;
            opacity: 0;
            transition: 0.3s;
        }

        img {
            width: 100%;
            min-height: 350rem;
            max-height: 350rem;
            object-fit: cover;
        }

        .cart-icon {
            height: 64rem;
            width: 64rem;
            position: absolute;
            opacity: 0;
            left: 50%;
            transform: translateX(-50%);
            bottom: 15%;
            z-index: 4;
            transition: 0.3s;
            cursor: pointer;

            &.medium-large {
                height: 53rem;
                width: 53rem;
            }

            &.cart-icon-hide {
                display: none;
                transition: 0.3s;
            }
        }

        .product-sizes {
            display: none;
            position: absolute;
            opacity: 0;
            z-index: 3;
            bottom: 15%;
            width: 100%;
            justify-content: center;
            padding-top: 15rem;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 18rem;
            text-transform: capitalize;
            color: $black-color;
            gap: 26rem;
            transition: 0.3s;

            &.product-sizes-show {
                display: flex;
                transition: 0.3s;
            }

            .product-size {
                height: 64rem;
                width: 64rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                border-radius: 50%;
                transition: 0.3s;
                cursor: pointer;

                &.medium-large {
                    height: 53rem;
                    width: 53rem;
                }

                &.product-size_active {
                    transition: 0.3s;
                    text-decoration: underline;
                }

                &:hover {
                    transition: 0.3s;
                    text-decoration: underline;
                }
            }
        }

        .heart-icon_svg {
            position: absolute;
            bottom: 17rem;
            right: 24rem;
            cursor: pointer;
            transition: 0.3s;
            z-index: 3;

            .heart-icon_path {
                transition: 0.3s;

                &.heart-icon_path_active {
                    transition: 0.3s;
                    fill: $red-color;
                    stroke: transparent;
                }
            }

            &:hover {
                .heart-icon_path {
                    transition: 0.3s;
                    fill: $red-color;
                    stroke: transparent;
                }
            }
        }

        @media (max-width: 768px) {
            .heart-icon_svg {
                position: absolute;
                bottom: 17rem;
                right: 24rem;
                cursor: pointer;
                transition: none;
                z-index: 3;
    
                .heart-icon_path {
                    transition: none;
    
                    &.heart-icon_path_active {
                        transition: none;
                        fill: $red-color;
                        stroke: transparent;
                    }
                }
    
                &:hover {
                    .heart-icon_path {
                        transition: none;
                        fill: $red-color;
                        stroke: transparent;
                    }
                }
            }
        }
    }

    .product_descr {
        padding-top: 20rem;

        .product_title {
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 16rem;
            color: $black-color;

            a {
                text-decoration: none;
                color: $black-color;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .product_price {
            padding-top: 7rem;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 16rem;
            text-transform: capitalize;
            color: $black-color;
        }

        .product_color {
            padding-top: 9rem;

            &.hide {
                display: none;
            }

            svg {
                circle  {
                    &:hover {
                        cursor: pointer;
                        stroke:$black-color;
                        stroke-width: 1rem;
                    }
                }
            }
        }

        .not-available {
            padding-top: 7rem;

            &.hide {
                display: none;
            }

            .not-available-text {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 18rem;
                color: $red-color;

                @media (max-width: 425px) {
                    font-size: 14rem;
                }

                @media (max-width: 375px) {
                    font-size: 13rem;
                }
            }

            .checkboxes {
                padding: 0;
                margin-top: 10rem;
                gap: 9rem;

                .notify-me-text {
                    font-size: 18rem;
                    font-weight: 300;
                    color: $brown-color;

                    @media (max-width: 425px) {
                        font-size: 14rem;
                    }

                    @media (max-width: 375px) {
                        font-size: 13rem;
                    }
                }
            }
        }
    }
}