.reviews {
    padding-top: 75rem;

    @media (max-width: 1199px) {
        padding-top: 40rem;
    }

    @media (max-width: 991px) {
        padding-top: 30rem;
    }

    .container {
        max-width: 80%;

        @media (max-width: 768px) {
            max-width: 720px;
        }

        .reviews-wrapper {
            width: 59%;

            @media (max-width: 768px) {
                width: 100%;
            }

            .reviews-title {
                display: flex;
                font-family: Cormorant Garamond;
                font-style: normal;
                font-weight: 300;
                font-size: 36rem;
                color: $black-color;

                @media (max-width: 768px) {
                    font-size: 28rem;
                }
            }

            .reviews-content {
                padding: 0;
                transition: cubic-bezier(0, 0, 0, 0.99) 0.75s !important;
            }

            .review {
                display: flex;
                gap: 70rem;
                margin-bottom: 36rem;
                border-top: 0.5rem solid #E0E0E0;

                @media (max-width: 575px) {
                    margin-bottom: 20rem;
                    flex-direction: column;
                    gap: 0;
                }

                &:first-child {
                    border: none;

                    .review-info {
                        @media (max-width: 575px) {
                            padding-top: 0;
                        }
                    }
                }

                .review-info {
                    width: 20%;
                    padding-top: 26rem;
                    display: flex;
                    flex-direction: column;
                    gap: 12rem;

                    @media (max-width: 575px) {
                        padding-top: 22rem;
                        gap: 7rem;
                    }

                    .review-username {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 14rem;
                        color: $black-color;
                    }

                    .review-data {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 100;
                        font-size: 14rem;
                        color: $black-color;
                    }

                    .stars {
                        margin-left: 0;
                        margin-top: 5rem;
                        justify-content: start;
                    }
                }

                .review-descr {
                    width: 80%;
                    margin-top: 26rem;

                    @media (max-width: 575px) {
                        width: 100%;
                        margin-top: 10rem;
                    }

                    .review-imgs {
                        padding-top: 50rem;
                        display: flex;
                        gap: 18rem;

                        @media (max-width: 575px) {
                            padding-top: 10rem;
                        }

                        .review-img {
                            cursor: pointer;

                            img {
                                width: 60rem;
                                height: 60rem;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

.stars {
    margin-left: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    svg {
        path {
            fill: transparent;
            stroke: #000;
            stroke-width: 0.5rem;


        }
        .active {
            fill: #000;
            stroke: none;
        }
    }
}

.review-img-open {
    position: relative;
    display: none;
    border-top: 0.5rem solid #E0E0E0;
    margin-top: 26rem;
    padding-top: 25rem;
    width: 297rem;
}

.closebtn {
    position: absolute;
    top: 8rem;
    right: 7rem;
    cursor: pointer;
}