.main {
    padding-top: 81rem;
}

.search-results {
    padding-top: 29rem;

    .bread-crumbs-and-mobile-filter {
        display: flex;
        justify-content: space-between;

        .bread-crumbs {
            a {
                font-size: 16rem;

                @media (max-width: 575px) {
                    font-size: 12rem;
                }
            }
        }

        .mobile-filter {
            display: none;

            span {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 16rem;
                color: $black-color;

                @media (max-width: 575px) {
                    font-size: 12rem;
                }
            }

            @media (max-width: 575px) {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6rem;
            }
        }
    }

    h2 {
        padding-top: 5rem;
        text-align: center;
        font-family: Cormorant Garamond;
        font-style: normal;
        font-weight: 300;
        font-size: 36rem;
        color: $black-color;
    }

    .search-query {
        padding-top: 30rem;
        padding-bottom: 40rem;

        font-family: Roboto;
        font-style: normal;
        font-weight: 100;
        color: $black-color;

        @media (max-width: 991px) {
            padding-top: 20rem;
            padding-bottom: 20rem;
        }

        @media (max-width: 767px) {
            padding-top: 20rem;
            padding-bottom: 0;
        }

        @media (max-width: 575px) {
            padding-top: 10rem;
        }

        .search-query-quantity-products {
            font-weight: 500;
        }
    }

    .close-icon_filter {
        cursor: pointer;
    }

    .filters-and-quantity-prod {
        display: flex;
        justify-content: space-between;

        .quantity-prod {
            font-family: Roboto;
            font-style: normal;
            font-weight: 100;
            font-size: 16rem;
            color: $black-color;

            @media (max-width: 575px) {
                font-size: 14rem;
            }

            @media (max-width: 375px) {
                // font-size: 13rem;
            }
        }
    }

    .filters {
        display: flex;
        gap: 47rem;
    }

    .selected-filters {
        display: flex;
        gap: 23rem;
        padding-top: 26rem;

        @media (max-width: 575px) {
            display: none;
        }

        .selected-filters_title {
            display: flex;
            align-items: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 14rem;
            color: $black-color;
        }

        .selected-filter {
            display: flex;
            gap: 42rem;
            border: 0.5rem solid $black-color;
            padding: 5rem 11rem;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 14rem;
            color: $black-color;
        }
    }

    .search-result   {
        display: flex;
        flex-wrap: wrap;
        padding-top: 49rem;
        padding-bottom: 130rem;
        gap: 36rem;

        @media (max-width: 575px) {
            padding-bottom: 80rem;
        }

        @media (max-width: 425px) {
            padding-bottom: 60rem;
        }

        @media (max-width: 375px) {
            padding-bottom: 50rem;
        }

        .product_card {
            width: calc(25% - 27rem);
        }
    }
}