.sign-up-section {
    padding-top: 50rem;
    padding-bottom: 200rem;

    @media (max-width: 1199px) {
        padding-bottom: 150rem;
    }

    @media (max-width: 991px) {
        padding-bottom: 120rem;
    }

    .sign-up-wrapper {
        width: 334rem;
        // width: 25%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

        // @media (max-width: 1399px) {
        //     width: 30%;
        // }

        // @media (max-width: 1199px) {
        //     width: 35%;
        // }

        // @media (max-width: 991px) {
        //     width: 45%;
        // }

        @media (max-width: 769px) {
            width: 100%;
        }

        // @media (max-width: 575px) {
        //     width: 90%;
        // }

        .mustValidate {
            width: 100%;
        }
    }

    h2 {
        padding-bottom: 55rem;
        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 300;
        font-size: 36rem;
        color: $black-color;
        text-align: center;
    }

    .forgot-password {
        margin-top: 5rem;
        display: flex;
        justify-content: flex-end;
    }

    .sign-in {
        margin-top: 24rem;
        display: flex;
        justify-content: center;

        span {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 12rem;        
            color: $black-color;
        }

        a {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 12rem;        
            color: $black-color;
        }
    }

    .form-floating {
        &.last-name,
        &.email,
        &.phone,
        &.password,
        &.password-repeat,
        &.subscribe-for-newsletter {
            margin-top: 24rem;
        }

        &.phone {
            display: flex;
            align-items: center;
            border: 1rem solid #828282;

            select {
                padding-left: 8rem;
                border: none;
                border-right: 0.5rem solid #E0E0E0;
                width: 50rem;
                // width: 20%;
                height: auto;

                // @media (max-width: 1399px) {
                //     width: 15%;
                // }
        
                // @media (max-width: 769px) {
                //     width: 18%;
                // }
        
                // @media (max-width: 575px) {
                //     width: 12%;
                // }

                // @media (max-width: 425px) {
                //     width: 15%;
                // }

                // @media (max-width: 375px) {
                //     width: 15%;
                // }

                &:focus {
                    border: none;
                    border-right: 0.5rem solid #E0E0E0;
                }
            }

            input {
                width: 80%;
                min-width: auto;
                border: none;

                &:focus {
                    border: none;
                }
            }

        }

        input {
            min-width: 100%;
            border-radius: 0;
            border: 1rem solid #828282;
            padding: 0rem;
            padding-left: 12rem;
            height: 36rem;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 12rem;
            color: $black-color;

            &:focus {
                border: 1rem solid $brown-color;
                box-shadow: none;

                &::placeholder {
                    color: transparent;
                }
            }

            &::placeholder {
                font-weight: 100;
                color: #828282;
            }
        }

        select {
            position: relative;
            border-radius: 0;
            padding: 0rem;
            padding-left: 12rem;
            height: 36rem;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 12rem;
            color: $black-color;

            &:focus {
                border: 1rem solid $brown-color;
                box-shadow: none;
            }
        }

        label {
            opacity: 0;
            height: auto;
            padding: 0 5rem;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 10rem;
            color: $brown-color;
            background: #fff;
            transform: scale(1) translateY(-8rem) translateX(17rem);
            transition: 0.3s;
        }

        >.form-control:focus,
        >.form-control:not(:placeholder-shown),
        >.form-select {
            ~label {
                opacity: 1;
                background: #fff;
                transform: scale(1) translateY(-8rem) translateX(17rem);
                transition: 0.3s;
            }
        }
    }

    .subscribe-for-newsletter {
        margin-top: 24rem;
        display: flex;
        align-items: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 100;
        font-size: 12rem;
        color: #828282;

        .checkboxes {
            padding: 0;
            gap: 6rem;
        }
    }
    
    .btn-main {
        margin-top: 22rem;
        padding: 14rem 0;
        width: 100%;
        justify-content: center;

        @media (max-width: 769px) {
            border: 1rem solid $brown-color;
            background-color: $brown-color;
            color: #fff;
    
            &:hover {
                background-color: #fff;
                color: $brown-color;
            }
        }

        // @media (max-width: 575px) {
        //     border: 1rem solid $brown-color;
        //     background-color: $brown-color;
        //     color: #fff;
    
        //     &:hover {
        //         background-color: #fff;
        //         color: $brown-color;
        //     }
        // }
    }
}