.sub-to-news {
    background-color: $brown-color;
    padding: 56px 0;
    
    .container {
        display: flex;
        justify-content: center;

        .sub-to-news_wrapper {
            width: 50%;

            .sub-to-news_title {
                h3 {
                    font-family: 'Cormorant Garamond';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 36px;
                    color: #FFFFFF;
                    text-align: center;
                }
            }
            .sub-to-news_subtitle {
                display: flex;
                justify-content: center;
                padding-top: 15px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF
            }

            .sub-to-news_form {
                display: flex;
                justify-content: center;
                padding-top: 33px;

                .btn-main {
                    padding: 16px 40px;
                }
            }
        }
    }
}