.sub-to-news {
    background-color: $brown-color;
    padding: 56rem 0;
    
    .container {
        display: flex;
        justify-content: center;

        .sub-to-news_wrapper {
            width: 50%;

            &.sent {
                .sub-to-news_email {
                    padding-top: 17rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16rem;
                    color: #FFFFFF;
                    text-align: center;
                }

                .sub-to-news_text {
                    padding-top: 19rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 100;
                    font-size: 16rem;
                    color: #FFFFFF;
                    text-align: center;
                }
            }

            &.hide {
                display: none;
            }

            .sub-to-news_title {
                h3 {
                    font-family: 'Cormorant Garamond';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 36rem;
                    color: #FFFFFF;
                    text-align: center;
                }
            }
            .sub-to-news_subtitle {
                display: flex;
                justify-content: center;
                padding-top: 15rem;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 16rem;
                line-height: 19rem;
                color: #FFFFFF
            }

            .sub-to-news_form {
                display: flex;
                justify-content: center;
                padding-top: 33rem;

                .btn-main {
                    padding: 16rem 40rem;
                }
            }
        }
    }
}